
{% block _demande_complexe_message_row %}
<div class="form-group" style="padding-top: 50px">
  <label class="control-label label col-sm-3 col-xs-12" for="personnel"> {{ form_label(form) }}</label>
      <div class="col-sm-9">
          {{ form_widget(form, { 'attr' : {'class': ' form-control' } }) }}
      </div>
</div>
{% endblock %}


{% block _demande_complexe_docSalon_row %}
<div class="form-group" style="padding-top: 50px">
  <label class="control-label label col-sm-3 col-xs-12" for="personnel"> {{ form_label(form) }}</label>

  <div class="col-sm-9">
    {{ form_widget(form, { 'attr' : {'class': '' } }) }}
  </div>

</div>
{% endblock %}

{% block _demande_complexe_docService_row %}
<div class="form-group" style="padding-top: 50px">
  <label class="control-label label col-sm-3 col-xs-12" for="personnel"> {{ form_label(form) }}</label>
      <div class="col-sm-9">
          {{ form_widget(form, { 'attr' : {'class': '' } }) }}
      </div>
</div>
{% endblock %}
