{% extends 'base.html.twig' %}
{% form_theme form 'form/error.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
{% trans_default_domain "translator" %}
<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>

<div class="header">
	<img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>
<div class="head">
{{ "autre_demande.titre"|trans({}, "translator") }}
</div>
<div class="nomSalon">
  {{ app.session.get('nomSalon') }}
</div>
<div class="container">
	<div id="actions" class="formAction">

		{{ form_start(form, {'attr': {'class': 'allForm form-horizontal autre_demande', 'id':'formAutreDemande'} }) }}

		    {{ form_errors(form)}}
				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="personnel"> {{ form_label(form.matricule) }}</label>
					<div class="col-sm-6  col-xs-12">
						{{ form_widget(form.matricule, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="service">{{ form_label(form.service) }} </label>
					<div class="col-sm-6  col-xs-12">
						{{ form_widget(form.service, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="objet">{{ form_label(form.objet) }} </label>
					<div class="col-sm-6  col-xs-12">
						{{ form_widget(form.objet, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="pieceJointes">{{ form_label(form.pieceJointes) }}</label>
					<div class="col-sm-6  col-xs-12">
						<label for="autre_demande_pieceJointes" class="label-file">
							<i class="glyphicon glyphicon-download-alt"></i>
							<span>	{{ "autre_demande.choice"|trans({}, "translator") }}</span>
						</label>
						{{ form_widget(form.pieceJointes, { 'attr': {'class': 'input-file'} }) }}

					</div>
				</div>
				<div class="form-group"  style="height:auto;">
					<label class="control-label label col-sm-4 col-xs-12" for="commentaire">{{ form_label(form.commentaire) }} </label>
					<div class="col-sm-6  col-xs-12">
						{{ form_widget(form.commentaire, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
			<div id="actionsButtons">
				{{ form_end(form) }}
						<a href="{{ path('homepage') }}" class="btn-black precedent">
								{{ "global.back"|trans({}, "translator") }}
						</a>
		  </div>
		</div>
	</div>
	<script src="{{ asset('js/custom-file-input.js') }}"></script>

	<script type="text/javascript">

		$( "#formAutreDemande" ).validate( {
		 rules: {
			 'autre_demande[objet]': {
				 required: true
			 },
			 'autre_demande[commentaire]': {
				 required: true,
			 }
		 },
		 messages: {
			 'autre_demande[objet]': "{{ "message_validation.autre_demande_objet_required"|trans({}, "translator") }}",
			 'autre_demande[commentaire]': "{{ "message_validation.autre_demande_commentaire_required"|trans({}, "translator") }}"
		 },
		 errorElement: "em",
		 errorPlacement: function ( error, element ) {
			 // Add the `help-block` class to the error element
			 error.addClass( "help-block" );

			 // Add `has-feedback` class to the parent div.form-group
			 // in order to add icons to inputs
			 element.parents( ".col-sm-5" ).addClass( "has-feedback" );

			 if ( element.prop( "type" ) === "checkbox" ) {
				 error.insertAfter( element.parent( "label" ) );
			 } else {
				 error.insertAfter( element );
			 }

			 // Add the span element, if doesn't exists, and apply the icon classes to it.
			 if ( !element.next( "span" )[ 0 ] ) {
				 $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
			 }
		 },
		 success: function ( label, element ) {
			 // Add the span element, if doesn't exists, and apply the icon classes to it.
			 if ( !$( element ).next( "span" )[ 0 ] ) {
				 $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
			 }
		 },
		 highlight: function ( element, errorClass, validClass ) {
			 $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
			 $( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
		 },
		 unhighlight: function ( element, errorClass, validClass ) {
			 $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
			 $( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
		 }
	 } );

 </script>
{% endblock %}
