<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

		<!-- Optional theme -->
		<link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('css/bootstrap-slider.min.css') }}">

		<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery-migrate-1.2.1.min.js') }}"></script>

    		<!-- Latest compiled and minified JavaScript -->
    		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
    		<script src="{{ asset('js/bootstrap-slider.min.js') }}"></script>
    		<script src="{{ asset('js/Helpers.js') }}"></script>
    </head>
    <body>
      <div class="col-sm-12" style=" max-width:1200px;margin:auto;float:none;">
          <div class="col-sm-6 block">
          </div>
          <a  href="{{ path('fos_user_security_logout') }}">
             <div class="col-sm-4 deco block">
                 <span class="glyphicon glyphicon-off" style="padding-right:5px"></span>{{ "home.deconnexion"|trans({}, "home") }}
             </div>
          </a>
          {% if is_granted('ROLE_ADMIN')  %}
            <a  href="{{ path('adminHome') }}">
              <div class="col-sm-4 gestion block">
                  <span class="glyphicon glyphicon-wrench" style="padding-right:5px"></span>{{ "home.gestion"|trans({}, "home") }}
            </div>
           </a>
         {% endif  %}

      </div>
		{% block fos_user_content %}{% endblock %}


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
