<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

		<!-- Optional theme -->
		<link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/bootstrap-slider.min.css') }}">

		<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery-migrate-1.2.1.min.js') }}"></script>

    		<!-- Latest compiled and minified JavaScript -->
    		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
    		<script src="{{ asset('js/bootstrap-slider.min.js') }}"></script>
    		<script src="{{ asset('js/Helpers.js') }}"></script>
    </head>
    <body>

<!-- HEADER POUR PARTIE ADMIN -->
    {% if 'admin' in app.request.uri  %}
        <div id="topNav" class="col-sm-12 col-xs-12 admin">
            <div id="home" class="col-sm-6 col-xs-6 deco block">
                <a  href="{{ path('adminHome') }}">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="libelle">{{ "home.accueil"|trans({}, "translator") }}</span>
                </a>
            </div>

            <div id="logout" class="col-sm-6 col-xs-6 deco block">
                 <a class="out" href="{{ path('homepage') }}">
                    <span class="glyphicon glyphicon-unchecked"></span>
                    <span class="libelle">{{ "home.appli"|trans({}, "translator") }}</span>
                 </a>
                 <a class="out" href="{{ path('fos_user_security_logout') }}">
                    <span class="glyphicon glyphicon-off"></span>
                    <span class="libelle">{{ "home.deconnexion"|trans({}, "translator") }}</span>
                 </a>

            </div>
        </div>
        <div id="bg_admin" class="bg"></div>

    <!-- FIN HEADER POUR PARTIE ADMIN -->

    <!-- HEADER POUR PARTIE APPLICATION -->
         {% else %}
        <div id="topNav" class="col-sm-12 col-xs-12">
            <div id="home" class="col-sm-6 col-xs-6 deco block">
                <!-- Si le user est un service on n'affiche pas de lien vers la totalité de l'application -->
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') or is_granted('ROLE_COORDINATEUR') %}
                    <a class="out" href="{{ path('homepage') }}">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="libelle">{{ "home.accueil"|trans({}, "translator") }}</span>
                    </a>
                {% elseif is_granted('ROLE_PAIE') or is_granted('ROLE_JURIDIQUE') %}
                <a class="out" href="{{ path('demande') }}">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="libelle">{{ "home.accueil"|trans({}, "translator") }}</span>
                </a>

                {% endif  %}

            </div>
            <div id="logout" class="col-sm-6 col-xs-6 deco block">
                  {% if is_granted('ROLE_ADMIN') %}
                      <a class="out" href="{{ path('adminHome') }}">
                          <span class="glyphicon glyphicon-wrench"></span>
                          <span class="libelle">{{ "home.admin"|trans({}, "translator") }}</span>
                      </a>
                  {% endif  %}
                  <a class="out" href="{{ path('fos_user_security_logout') }}">
                     <span class="glyphicon glyphicon-off"></span>
                     <span class="libelle">{{ "home.deconnexion"|trans({}, "translator") }}</span>
                  </a>

             </div>
      </div>
       <div id="bg_app" class="bg"></div>
      {% endif  %}
      <!-- FIN HEADER POUR PARTIE APPLICATION -->


		{% block fos_user_content %}{% endblock %}


        {% block body %}{% endblock %}

        {% block javascripts %}
        <script>
        $(document).ready(function(){
          if (document.getElementsByTagName) {
            var inputElements = document.getElementsByTagName("input");
              for (i=0; inputElements[i]; i++) {
                $(inputElements[i]).prop('autocomplete', "off");
                if ((inputElements[i].className.indexOf("disableAutoComplete") != -1)) {
                  console.log('input off')
                  inputElements[i].setAttribute("autocomplete", "off");
                }
              }
          }


          var refresh_rate = 300; //<-- In seconds, change to your needs
          var last_user_action = 0;
          var has_focus = false;
          var lost_focus_count = 0;
          var focus_margin = 10; // If we lose focus more then the margin we want to refresh


          function reset() {
              last_user_action = 0;
              console.log("Reset");
          }

          function windowHasFocus() {
              has_focus = true;
          }

          function windowLostFocus() {
              has_focus = false;
              lost_focus_count++;
              console.log(lost_focus_count + " <~ Lost Focus");
          }

          setInterval(function () {
              last_user_action++;
              refreshCheck();
          }, 1000);

          function refreshCheck() {
              var focus = window.onfocus;
              if ((last_user_action >= refresh_rate && !has_focus && document.readyState == "complete") || lost_focus_count > focus_margin) {
                  window.location.reload(); // If this is called no reset is needed
                  reset(); // We want to reset just to make sure the location reload is not called.
              }

          }
          window.addEventListener("focus", windowHasFocus, false);
          window.addEventListener("blur", windowLostFocus, false);
          window.addEventListener("click", reset, false);
          window.addEventListener("mousemove", reset, false);
          window.addEventListener("keypress", reset, false);







      });

        </script>
        {% endblock %}
    </body>
</html>
