{% extends 'base.html.twig' %}
{% block title %}Suivi des demandes{% endblock %}

{% block body %}
<div class="container">
	<div class="header">
		<img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
	</div>
	<div class="head">
		{{ "suividemande.header"|trans({}, "suivi_demandes") }}
	</div>
	{% if is_granted('ROLE_ADMIN') and is_granted('ROLE_COORDINATEUR') %}
			<div class="nomSalon">
			  {{ app.session.get('nomSalon') }}
			</div>
	{% endif %}

	{% for flash_message in app.session.flashBag.get('success') %}
		<div id="flashDemande" class="alert alert-success success">
			{{ flash_message }}
		</div>
	{% endfor %}
	<div class="col-sm-12" >

		<div id="selectionMultiple">
				<div id="nbSelect" class="col-sm-3">
					<span class="counter"></span>	<span class="textSelect"></span>
				</div>

				<div id="act" class="col-sm-8">
					<ul>
							<li id="validation">
									<i class="glyphicon glyphicon-ok"></i>
									<span>Validation</span>
							</li>
							<li id="export">
									<i class="glyphicon glyphicon-download-alt"></i>
								  <span>Export</span>
							</li>
							<li id="deselect">
								<i class="glyphicon glyphicon-trash"></i>
									<span>Déselectionner</span>
							</li>
					</ul>
				</div>
		</div>
		<table id="demande" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
			<tr>
				<th>id</th>
				<th class="click"></th>
				<th>{{ "suividemande.codesage"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.enseigne"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.appelation"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.coordinateur"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.manager"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.date"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.statut"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.typedemande"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.collaborateur"|trans({}, "suivi_demandes") }}</th>
			</tr>
			</thead>
			<tfoot>
			<tr>
				<th>id</th>
				<th class="click"></th>
				<th>{{ "suividemande.codesage"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.enseigne"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.appelation"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.coordinateur"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.manager"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.date"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.statut"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.typedemande"|trans({}, "suivi_demandes") }}</th>
				<th>{{ "suividemande.collaborateur"|trans({}, "suivi_demandes") }}</th>
			</tr>
			</tfoot>
			<tbody>
			</tbody>
		</table>


		{% if not is_granted('ROLE_PAIE') and not is_granted('ROLE_JURIDIQUE') %}
			<button onclick="window.location.href ='{{ path("homepage") }}'" class="btn-black precedent">{{ "global.back"|trans({}, "global") }}</button>
		{% endif %}
	</div>

	</div>

	<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.dataTables.min.css') }}">
	<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" class="init">
	sessionStorage.setItem('NbDemandeComplexe',0);

		$(document).ready(function(){
			//Construction du tableau de la liste des demandes
			var dt  = $('#demande').DataTable({
				  "searching": false,
					"processing": true,
					"serverSide": true,
					"ajax":{
							type: 'POST',
							url:"{{ path('paginate') }}",
					} ,
					"sAjaxDataProp": "data",
					"pageLength": 20,
					"lengthChange": false,
					"order": [[ 5, 'asc' ],[ 4, 'desc' ]],
					"columns":[
						  {"data": "id"},
							{"data": "", "class":"details-control", "orderable":false,},
							{"data": "Code Sage","name":"x"},
							{"data": "Enseigne","name":"x"},
							{"data": "Appelation","name":"x"},
							{"data": "Coordinateur","name":"x"},
							{"data": "Manager","name":"x"},
							{"data": "Date","name":"x"},
							{"data": "Statut","name":"default", "class":"statut"},
							{"data": "Type","name":"x"},
							{"data": "Collaborateur","name":"x"},
					],
					"columnDefs": [
							{
									"targets": [0],
									"visible": false,
									"searchable": true
							}
					],
					"language":
								{
								 "processing":     "{{ "datatable.processing"|trans({}, "datatable") }}",
								 "search":         "{{ "datatable.search"|trans({}, "datatable") }}",
								 "lengthMenu":     "{{ "datatable.lengthMenu"|trans({}, "datatable") }}",
								 "info":           "{{ "datatable.info"|trans({}, "datatable") }}",
								 "infoEmpty":      "{{ "datatable.infoEmpty"|trans({}, "datatable") }}",
								 "infoFiltered":   "{{ "datatable.infoFiltered"|trans({}, "datatable") }}",
								 "infoPostFix":    "",
								 "loadingRecords": "{{ "datatable.loadingRecords"|trans({}, "datatable") }}",
								 "zeroRecords":    "{{ "datatable.zeroRecords"|trans({}, "datatable") }}",
								 "emptyTable":     "{{ "datatable.emptyTable"|trans({}, "datatable") }}",
								 "paginate": {
										 "first":      "{{ "datatable.first"|trans({}, "datatable") }}",
										 "previous":   "{{ "datatable.previous"|trans({}, "datatable") }}",
										 "next":       "{{ "datatable.next"|trans({}, "datatable") }}",
										 "last":       "{{ "datatable.last"|trans({}, "datatable") }}"
									 }
							 }
			});


      //Affiche le détail d'une demande
			$('#demande tbody').on( 'click', 'tr td.details-control', function () {
					var id = dt.row(this).data()['id'];
					$.ajax({
							url: "{{ path('detail') }}",
						  data: {"id" : id}
						}).done(function( response ) {
					    window.location.href = response;
				  });
				}
			);

   //Active ou Désactive la fonctionnalité "validation multiple" selon le type de la demande sélectionnée
    function typeDemande(id){
			$.ajax({
					url: "{{ path('typeDemande') }}",
					data: {"id" : id},
					async: false
				}).success(function( response ) {
					if (response == '1'){
					}else{
						oldNb = Number(sessionStorage.getItem('NbDemandeComplexe'));
						sessionStorage.setItem('NbDemandeComplexe',oldNb+1);

					}

			});



}
			//Sélection Multiple des demandes
			$('#demande tbody').on( 'click', 'tr', function () {
	         $(this).toggleClass('selected');
					 $('#nbSelect .counter').text(dt.rows('.selected').data().length+' ');

					 //Si il y a au moins 1 ligne séléctionné
					if (  $('tr.selected').length >0){
								if (  $('tr.selected').length == 1){
										$('#nbSelect .textSelect').text('élément sélectionné');
								}else{
										$('#nbSelect .textSelect').text('éléments sélectionnés');
								}
								//Boucle sur toute les demandes sélectionné pour savoir si l'une entre elle est une demande complexe
								// Si oui on désactive la validation Multiple
								$('tr.selected').each(function(i, obj) {
	                    var id = dt.row(this).data()['id'];
											 typeDemande(id);
									});
									if(Number(sessionStorage.getItem('NbDemandeComplexe')) > 0){
										$('#validation').css('display','none');
									}else{
										$('#validation').css('display','inline-block');
									}
									sessionStorage.setItem('NbDemandeComplexe',0);

								$('#selectionMultiple').css('display','block');
					//Si aucune ligne n'est séléctionné
					}else{
					  	$('#selectionMultiple').css('display','none');
					}

	     } );
			 //Déselection des demandes au préalablement sélectionnées
			 	$('#deselect').on( 'click', function () {
           $('tr.selected').removeClass('selected');
					 $('#selectionMultiple').css('display','none');
				});

			 //Validation multiple des demandes simples
			 	$('#validation').on( 'click', function () {
					demandes = [];

					$('tr.selected').each(function(i, obj) {
								var id = dt.row(this).data()['id'];
								 demandes[i]=id;
						});
						$.ajax({
								url: "{{ path('demandeValidate') }}",
							  data: {"demandes" : demandes},
								type: 'POST'
							}).done(function( response ) {
						    window.location.href = response;
					  });

		});



});




	</script>


{% endblock %}
