{% extends 'base.html.twig' %}
{% block title %}Résumé de la demande{% endblock %}

{% block body %}

<div class="header">
	<img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>

<div class="head">
	{{ typedemande }}
</div>
<div class="nomSalon">
	{{ app.session.get('nomSalon') }}
</div>
<div class="container">

<div id="wrapperForm" class="row">

</div>

		<!-- ................... Parti Validation ..........................-->


			<div class="" style="max-width: 100%; margin: auto;">

				{% for flash_message in app.session.flashBag.get('error') %}
				<div class="alert alert-danger danger">
					{{ flash_message }}
					<span class="closeAlert glyphicon glyphicon-remove"></span>
				</div>
				{% endfor %}

				<hr id="separatorDetailDemande"/>
				<!-- { form_start(form2, {'attr': {'id':'form_message','novalidate': 'novalidate'}}) }} -->
				<!-- { form_end(form2) }} -->
				{% form_theme form2 'form/demande_complexe.html.twig' %}
				{{ form_start(form2, {'attr': {'id':'form_message','novalidate': 'novalidate'}}) }}
				{{ form_end(form2) }}

			</div>



		<div class="col-sm-12" style="padding: 0;">
			<button  onclick="window.location.href ='{{ path("demande") }}'" class="btn-black precedent">Précédent</button>
		</div>

	</div>
</div>
<script src="{{ asset('js/custom-file-input.js') }}"></script>

<script language="javascript">
$('#demande_complexe_reject, #demande_complexe_accept').css('marginTop','30px');

$('.closeAlert').bind('click', function(){
	$(".alert").css('display','none');
	$(".alert").remove();
});
$('#hide').on('click', function(){
	$('#formCplx').toggle();
});

// document ready
jQuery(document).ready(function($){

	$.ajax({
			url: "{{ path('generateResume') }}",
			async: false,
			data: {"id" : "{{ idDemande }}",'action':'detail'}
		}).done(function( response ) {
				$('#wrapperForm').prepend(response);

	});
});
</script>
{% endblock %}
