{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
<div class="container">
	<div class="header">
		<img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
	</div>
	<div class="head">
		Suivre les demandes
	</div>

	<div class="col-sm-12" style="padding-top: 50px;">

		<table id="demande" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
			<tr>
				<th>id</th>
				<th class="click"></th>
				<th>Salon</th>
				<th>Demandeur</th>
				<th>Date</th>
				<th>Statut</th>
				<th>Type de demande</th>
				<th>Collaborateur</th>
			</tr>
			</thead>
			<tfoot>
			<tr>
				<th>id</th>
				<th class="click"></th>
				<th>Salon</th>
				<th>Demandeur</th>
				<th>Date</th>
				<th>Statut</th>
				<th>Type de demande</th>
				<th>Collaborateur</th>
			</tr>
			</tfoot>
			<tbody>
			</tbody>
		</table>


		{% if not is_granted('ROLE_PAIE') and not is_granted('ROLE_JURIDIQUE') %}
			<button style="float:left; margin-top: 50px;" onclick="window.location.href ='{{ path("homepage") }}'" class="btn-black">Précédent</button>
		{% endif %}
	</div>

	</div>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.dataTables.min.css') }}">
	<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" class="init">
		$(document).ready(function(){
			var dt  = $('#demande').DataTable({
					"processing": true,
					"serverSide": true,
					"ajax":{
							type: 'POST',
							url:"{{ path('paginate') }}",
					} ,
					"sAjaxDataProp": "data",
					"pageLength": 10,
					"order": [[ 3, 'asc' ]],
					"columns":[
						  {"data": "id"},
							{"data": "", "class":"details-control", "orderable":false,},
							{"data": "Salon"},
							{"data": "Demandeur"},
							{"data": "Date"},
							{"data": "Statut"},
							{"data": "Type de demande"},
							{"data": "Collaborateur"},
					],
					"columnDefs": [
							{
									"targets": [0],
									"visible": false,
									"searchable": false
							}
					],
					"fnRowCallback": function( nRow, columns, iDisplayIndex ) {
						 if ( columns.Statut == "en cours")
						  {
								$(nRow).addClass("encours alert-info");
						  }
							else if
							( columns.Statut == "rejeté"){
								$(nRow).addClass("rejete alert-danger");
						  }
						 else
						 	{
								$(nRow).addClass("traite alert-success");
							}
						 return nRow;
				 }
			});

			$('#demande tbody').on( 'click', 'tr td.details-control', function () {
					var id = dt.row(this).data()['id'];
					//window.location.href =
					$.ajax({
					  url: "test.html",
							url: "{{ path('detail') }}",
						  data: {"id" : id}
						}).done(function( response ) {
					    window.location.href = response;
				  });
				}
			);


		});

	</script>

</div>

{% endblock %}
