{% extends 'base.html.twig' %}
{% block title %}Résumé de la demande{% endblock %}

{% block body %}

<div class="header">
	<img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>

<div class="head">
	{{ typedemande }}
</div>
<div class="nomSalon">
	{{ app.session.get('nomSalon') }}
</div>
<div class="container">
	<div id="wrapperForm" class="row">


		{% if is_granted('ROLE_PAIE') or is_granted('ROLE_JURIDIQUE') %}
		<div class="" style="max-width: 100%; margin: auto;">
			<hr id="separatorDetailDemande"/>
			{{ form_start(form2, {'attr': {'id':'form_message','novalidate': 'novalidate'}}) }}

			{% for flash_message in app.session.flashBag.get('error') %}

<em id="" class="error help-block">{{ flash_message }}</em>
			{% endfor %}
			<div class="form-group">
					<div class="col-sm-12  col-xs-12">
						{{ form_row(form2.message) }}
				  </div>
			</div>

			{{ form_row(form2.reject, {'attr': {'class': 'btn-black end reject'} }) }}
			{{ form_row(form2.accept, {'attr': {'class': 'btn-black end accept'} }) }}
			{{ form_end(form2) }}
		</div>
		{% endif  %}
		<div class="col-sm-12" style="padding: 0;">
			<button  onclick="window.location.href ='{{ path("demande") }}'" class="btn-black precedent">Précédent</button>
		</div>
	</div>
</div>

<script language="javascript">
		$('.closeAlert').bind('click', function(){
			$(".alert").css('display','none');
			$(".alert").remove();

		});

		// document ready
		jQuery(document).ready(function($){

			$.ajax({
					url: "{{ path('generateResume') }}",
					async: false,
					data: {"id" : "{{ idDemande }}"}
				}).done(function( response ) {
						$('#wrapperForm').prepend(response);

			});
		});
</script>
{% endblock %}
