{% extends 'base.html.twig' %}
{% block title %}Résumé de la demande{% endblock %}

{% block body %}

<div class="header">
	<img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>

<div class="head">
	{{ typedemande }}
</div>
<div class="nomSalon">
	{{ app.session.get('nomSalon') }}
</div>
<div class="container">

<div id="wrapperForm" class="row">

	{% if statut > 1 %}
	<div id="hide"> Deplier les infos </div>
	<div  id="formCplx" class="row" style="display:none;" >
	{% else %}
	<div  class="row">
	{% endif %}

		{% form_theme form 'form/acompte.html.twig' %}
			{{ form_start(form, {'attr': {'class': ''} }) }}
			{{ form_end(form) }}

	 {% if statut > 1 %}
	 </div>
	 {% endif %}
	 </div>

		<div id="infosDemande" class="col-sm-12">
			<p> <b>Demandeur : </b>{{ demandeur.nom }} {{ demandeur.prenom }} </p>
			<p> <p> <b>Date d'envoi :</b>  {{ date }} </p> <b>Statut:</b>  {{ statut }} {% if dateTraitement is not null %} le {{ dateTraitement }} {% endif %}</p>
			<p> <b>Salon :</b> {{ salon.appelation }} </p>
			<p> <b>Adresse :</b>  {{ salon.adresse1 }} {{ salon.codepostal }} {{ salon.ville }}  </p>


			{% if is_granted('ROLE_PAIE') or is_granted('ROLE_JURIDIQUE') %}
			<p> <b>Siren :</b>  {{ salon.siren }}</p>
			<p> <b>Rcs :</b>  {{ salon.rcsVille }}</p>
			{% endif  %}


			{% if docService != null %}
				<div class="form-group" style="padding-top: 50px">
					<label class="control-label label col-sm-3 col-xs-12" for="personnel"> Doc service</label>
						<a href="{{ asset('uploads/files/' ~ docService ) }}" ><div class="col-sm-9"> Telecharger le document
								{{ form_widget(form, { 'attr' : {'class': 'getDocument form-control' } }) }}
					 </div></a>
				</div>
			{% endif %}

			{% if docSalon != null %}
				<div class="form-group" style="padding-top: 50px">
					<label class="control-label label col-sm-3 col-xs-12" for="personnel"> Doc service</label>
						<div class="col-sm-9"><a href="{{ asset('uploads/files/' ~ docSalon ) }}"> Telecharger le document
					  </a></div>
				</div>
			{% endif %}

		</div>

		<!-- ................... Parti Validation ..........................-->


			<div class="" style="max-width: 100%; margin: auto;">

				{% for flash_message in app.session.flashBag.get('error') %}
				<div class="alert alert-danger danger">
					{{ flash_message }}
					<span class="closeAlert glyphicon glyphicon-remove"></span>
				</div>
				{% endfor %}

				<hr id="separatorDetailDemande"/>
				<!-- { form_start(form2, {'attr': {'id':'form_message','novalidate': 'novalidate'}}) }} -->
				<!-- { form_end(form2) }} -->
				{% form_theme form2 'form/demande_complexe.html.twig' %}
				{{ form_start(form2, {'attr': {'id':'form_message','novalidate': 'novalidate'}}) }}
				{{ form_end(form2) }}

			</div>



		<div class="col-sm-12" style="padding: 0;">
			<button  onclick="window.location.href ='{{ path("demande") }}'" class="btn-black precedent">Précédent</button>
		</div>

	</div>
</div>

<script language="javascript">

$('.closeAlert').bind('click', function(){
	$(".alert").css('display','none');
	$(".alert").remove();
});
$('#hide').on('click', function(){
	$('#formCplx').toggle();
});
</script>
{% endblock %}
