{% extends 'base.html.twig' %}
{% block title %}Demande d'embauche{% endblock %}

{% block body %}

<div class="header">
    <img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
    <hr/>
    <span id="nomSalon">{{ app.session.get('nomSalon') }}</span>
</div>
<div class="head" >
    {{ "embauche.header"|trans({}, "embauche") }}
</div>
<div class="bg"></div>
<div class="container">
<div style="max-width: 100%; margin: auto;">

<div class="row">

<div class="container">
	<div style="max-width: 100%; margin: auto;">

		<div class="row">
				        {{ form_start(form, { 'attr' : { 'class': 'form-horizontal','id':'formEmbaucheStep2' } }) }}
				<div class="row">
				  <div class="form-group *" style="padding-bottom:25px; padding-top: 50px">
  					<label class="control-label label col-sm-3 col-xs-12"  for="embauche">{{ "embauche.dateemb"|trans({}, "embauche") }}</label>
  					 <div class="col-sm-3">
  						       {{ form(form.dateembauche) }}
  					</div>
				  </div>

          <div class="form-group">
            <label class="control-label label col-sm-3 col-xs-12" for="groupe">{{ "embauche.ancien"|trans({}, "embauche") }}</label>
            <div class="col-sm-3 pad-box append" style="display: inline-flex" >
                    {{ form(form.dejaSalarie) }}
            </div>
          </div>


				  <div class="form-group">
  					<label class="control-label label col-sm-3 col-xs-12 append2" for="date">{{ "embauche.poste"|trans({}, "embauche") }}</label>
              <div class="col-sm-3 pad-box" style="display: inline-flex" >
                    {{ form_widget(form.poste) }}
				      </div>
          </div>
				  <div class="form-group">
  					<label class="control-label label col-sm-3 col-xs-12" for="date">{{ "embauche.diplome"|trans({}, "embauche") }}</label>
  					<div class="col-sm-3 pad-box" style="display: inline-flex" >
                    {{ form(form.diplomes) }}
  					</div>
				  </div>

				  <div class="form-group" style="">
  					<label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "embauche.class"|trans({}, "embauche") }}</label>
  					 <div class="col-sm-3 pad-box" >
  						      {{ form(form.classification) }}

  					</div>
				   </div>

				  <div class="form-group row" style="">
  					<label class="control-label label col-sm-3 col-xs-12" for="prenom">{{ "embauche.salaire"|trans({}, "embauche") }}</label>
  					 <div class="col-sm-3 pad-box">
  							     {{ form(form.salaireBase) }}
  					</div>
  				  </div>

				  <div class="form-group row" style="">
				     <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "embauche.contrat"|trans({}, "embauche") }}</label>
				      <div class="col-sm-8 pad-box" >
                      {{ form(form.typeContrat) }}
              </div>
				  </div>

				  <div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="Nationalité">{{ "embauche.partiel"|trans({}, "embauche") }}</label>
					<div class="col-sm-8 pad-box" style="display: inline-flex" >
						<div class="col-sm-8 " style="display: inline-flex" >
							<input type="checkbox"  name="Nationalité"  style="color:black"><p style="color:black;font-size:15px">LU</p>
						</div>
						<div class="col-xs-8" style="display: inline-flex" >
							<input type="checkbox"  name="Nationalité"  style="color:black"><p style="color:black; font-size:15px">MA</p>
						</div>
						<div class="col-sm-8" style="display: inline-flex" >
							<input type="checkbox"  name="Nationalité"  style="color:black"><p style="color:black;font-size:15px">ME</p>
						</div>
						<div class="col-xs-8" style="display: inline-flex" >
							<input type="checkbox"  name="Nationalité"  style="color:black"><p style="color:black; font-size:15px">JE</p>
						</div>
						<div class="col-xs-8" style="display: inline-flex" >
							<input type="checkbox"  name="groupe"  style="color:black"><p style="color:black; font-size:15px">VE</p>
						</div>
						<div class="col-xs-8" style="display: inline-flex" >
							<input type="checkbox"  name="groupe"  style="color:black"><p style="color:black; font-size:15px">SA</p>
						</div>
						<div class="col-xs-8 pad-box" style="display: inline-flex" >
							<input type="number"  name="groupe"  style="color:black"><p style="color:black; font-size:15px">TOTAL</p>
						</div>
					</div>
				  </div>
        </div>
      {{ form_end(form) }}

      </div>
    </div>
  </div>
  </div>
</div>

<script>

$(document).ready(function(){
 var $situ = $('#demande_embauche_dejaSalarie');
 var $situ2 = $('#demande_embauche_poste');
 var $situ3 = $('#demande_embauche_poste');
 var $situ3 = $('#demande_embauche_diplomes');
 var $situ4 = $('#demande_embauche_classification');
 var $situ5 = $('#demande_embauche_salaireBase');
 var count = 0;
 var count2 = 0;
 var count3 = 0;
 var count4 = 0;
 var count5 = 0;

 $situ.change(function() {
   var isChecked = $('#demande_embauche_dejaSalarie_0').prop('checked');
     if (isChecked && count == 0) {
       count++;
       var input = document.createElement("input");
       input.type = "text";
       input.className = "form-control";
       $situ.parent().parent().parent().append('<div id="at"> <label for="demande_embauche_lieu" class="control-label label col-sm-3 col-xs-12 required">Lieu</label> \
       <div id="autre" class="col-sm-3"> \
       <input type="text" id="demande_embauche_lieu" name="demande_embauche[lieu]" class="form-control" required="required" maxlength="255"></div></div>');
     } else if ( count != 0) {
         $('#at').remove();
         count = 0;
     }
   });

   $situ2.change(function() {
     var isChecked = $('#demande_embauche_poste_2').prop('checked');
       if (isChecked && count2 == 0) {
         count2++;
         var input = document.createElement("input");
         input.type = "text";
         input.className = "form-control";
         $situ2.parent().parent().append('<div id="at2"> <label for="demande_embauche_poste_autre" class="control-label label col-sm-3 col-xs-12 required">Autre</label> \
         <div id="autre" class="col-sm-3"> \
         <input type="text" id="demande_embauche_poste_autre" name="demande_embauche[poste_autre]" class="form-control" required="required" maxlength="255"></div></div>');
       } else if ( count2 != 0) {
           $('#at2').remove();
           count2 = 0;
       }
     });

     $situ3.change(function() {
       var isChecked = $('#demande_embauche_diplomes_2').prop('checked');
         if (isChecked && count3 == 0) {
           count3++;
           var input = document.createElement("input");
           input.type = "text";
           input.className = "form-control";
           $situ3.parent().parent().parent().append('<div id="at3"> <label for="demande_embauche_diplomes_autre" class="control-label label col-sm-3 col-xs-12 required">Autre</label> \
           <div id="autre" class="col-sm-3"> \
           <input type="text" id="demande_embauche_diplomes_autre" name="demande_embauche[diplomes_autre]" class="form-control" required="required" maxlength="255"></div></div>');
         } else if ( count3 != 0) {
             $('#at3').remove();
             count3 = 0;
         }
       });

       $situ4.change(function() {
         var isChecked = $('#demande_embauche_classification_2').prop('checked');
           if (isChecked && count4 == 0) {
             count4++;
             var input = document.createElement("input");
             input.type = "text";
             input.className = "form-control";
             $situ4.parent().parent().parent().append('<div id="at4"> <label for="demande_embauche_classification_autre" class="control-label label col-sm-3 col-xs-12 required">Autre</label> \
             <div id="autre" class="col-sm-3"> \
             <input type="text" id="demande_embauche_classification_autre" name="demande_embauche[classification_autre]" class="form-control" required="required" maxlength="255"></div></div>');
           } else if ( count4 != 0) {
               $('#at4').remove();
               count4 = 0;
           }
         });

         $situ5.change(function() {
           var isChecked = $('#demande_embauche_salaireBase_1').prop('checked');
             if (isChecked && count5 == 0) {
               count5++;
               var input = document.createElement("input");
               input.type = "text";
               input.className = "form-control";
               $situ5.parent().parent().parent().append('<div id="at5"> <label for="demande_embauche_salaireBases_autre" class="control-label label col-sm-3 col-xs-12 required">Autre</label> \
               <div id="autre" class="col-sm-3"> \
               <input type="text" id="demande_embauche_salaireBase_autre" name="demande_embauche[salaireBase_autre]" class="form-control" required="required" maxlength="255"></div></div>');
             } else if ( count5 != 0) {
                 $('#at5').remove();
                 count5 = 0;
             }
           });

});
</script>

<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}"/>

<script>
    $(document).ready(function() {
        $('.js-datepicker').datepicker({
            format: 'dd-mm-yyyy',
            //language: 'fr'
          });
    });
</script>

{% endblock %}
