{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}

<div class="header">
    <img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
	<hr/>
	<span id="nomSalon">{{ app.session.get('nomSalon') }}</span>
</div>
<div class="head" >
    {{ "embauche.header"|trans({}, "embauche") }}
</div>
<div class="bg"></div>
<div class="container">
<div style="max-width: 100%; margin: auto;">

<div class="row">

<div class="container">
	<div style="max-width: 100%; margin: auto;">

		<div class="row">
				        {{ form_start(form, { 'attr' : { 'class': 'form-horizontal' } }) }}
				<div class="row">
				  <div class="form-group *" style="padding-bottom:25px; padding-top: 50px">
  					<label class="control-label label col-sm-3 col-xs-12"  for="embauche">{{ "embauche.dateemb"|trans({}, "embauche") }}</label>
  					 <div class="col-sm-3">
  						       {{ form(form.dateembauche) }}
  					</div>
				  </div>

          <div class="form-group">
            <label class="control-label label col-sm-3 col-xs-12" for="groupe">{{ "embauche.ancien"|trans({}, "embauche") }}</label>
            <div class="col-sm-3 pad-box append" style="display: inline-flex" >
                    {{ form_widget(form.dejaSalarie) }}
            </div>
          </div>


				  <div class="form-group">
  					<label class="control-label label col-sm-3 col-xs-12" for="date">{{ "embauche.poste"|trans({}, "embauche") }}</label>
            <div class="col-sm-3 pad-box append" style="display: inline-flex" >
                    {{ form_widget(form.postes) }}
				    </div>
          </div>

				  <div class="form-group">
  					<label class="control-label label col-sm-3 col-xs-12" for="date">{{ "embauche.diplome"|trans({}, "embauche") }}</label>
  					<div class="col-sm-3 pad-box" style="display: inline-flex" >
                    {{ form_widget(form.diplomes) }}
  					</div>
				  </div>

				  <div class="form-group" style="">
  					<label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "embauche.class"|trans({}, "embauche") }}</label>
  					<div class="col-sm-3 pad-box" >
  						<label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "embauche.niveau"|trans({}, "embauche") }}</label>{{ form_widget(form.niveau) }}
            </div>
            <div class="col-sm-3 pad-box" >
              <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "embauche.echelon"|trans({}, "embauche") }}</label> {{ form_widget(form.echelon) }}
  					</div>
            <div class="col-sm-3 pad-box" >
              <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "embauche.autre"|trans({}, "embauche") }}</label> {{ form_widget(form.autre) }}
            </div>
				   </div>

				  <div class="form-group row" style="">
  					<label class="control-label label col-sm-3 col-xs-12" for="prenom">{{ "embauche.salaire"|trans({}, "embauche") }}</label>
  					 <div class="col-sm-3 pad-box">
  							     {{ form_widget(form.salaireBase) }}
  					</div>
  				 </div>

				  <div class="form-group row" style="">
				     <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "embauche.contrat"|trans({}, "embauche") }}</label>
				      <div class="col-sm-8 pad-box" >
                      {{ form_widget(form.typeContrat) }}
              </div>
				  </div>

				  <div class="form-group row" style="display:none" id="block-cdd">
				     <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "embauche.cdd"|trans({}, "embauche") }}</label>

              <div class="col-sm-8 pad-box" style="display: inline-flex">
                <div id="demande_embauche_CDD">

                  <div class="col-sm-12">
                    <input type="radio" id="demande_embauche_CDD_0" name="demande_embauche[raison][raison]" value="embauche.cdd.surcroit">
                    <label for="demande_embauche_CDD_0" class="required">{{ "embauche.cdd.surcroit"|trans({}, "embauche") }}</label>
                    <div style="display:none;">
                        <div class="col-xs-12">
                          <label class="control-label label">{{ "embauche.cdd.date"|trans({}, "embauche") }}</label><input type="text" id="demande_embauche[raison][jusquau]" name="demande_embauche[raison][jusquau]" class="js-datepicker form-control">
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <input type="radio" id="demande_embauche_CDD_1" name="demande_embauche[raison][raison]" value="embauche.cdd.rempla">
                    <label for="demande_embauche_CDD_1" class="required">{{ "embauche.cdd.rempla"|trans({}, "embauche") }}</label>
                    <div style="display:none;">
                      <div class="col-xs-12">

                        <label class="control-label label">{{ "embauche.cdd.nature"|trans({}, "embauche") }}</label><input type="text" id="demande_embauche[raison][absence]" name="demande_embauche[raison][absence]"  class="form-control">
                        <label class="control-label label">{{ "embauche.cdd.nom"|trans({}, "embauche") }}</label><input type="text" id="demande_embauche[raison][nom]" name="demande_embauche[raison][nom]"  class="form-control">

                        <div id="test" >
                          <label class="control-label label">{{ "embauche.cdd.date"|trans({}, "embauche") }}</label>
                          <input type="text" id="demande_embauche[raison][jusquau2]" class="jusquau js-datepicker form-control" name="demande_embauche[raison][jusquau]">
                        </div>

                        <div>
                          <input type="checkbox" class="retourPhysique" id="demande_embauche[raison][retour]" name="demande_embauche[raison][retour]" value="embauche.cdd.retour">
                          <label for="demande_embauche[raison][retour]" style="color:black;">{{ "embauche.cdd.retour"|trans({}, "embauche") }}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <input type="radio" id="demande_embauche_CDD_2" name="demande_embauche[raison][raison]" value="embauche.cdd.renouv">
                    <label for="demande_embauche_CDD_2" class="required">{{ "embauche.cdd.renouv"|trans({}, "embauche") }}</label>
                    <div style="display:none;">
                      <div class="col-xs-12">
                        <label class="control-label label">{{ "embauche.cdd.date"|trans({}, "embauche") }}</label>
                        <input type="text" id="demande_embauche[raison][jusquau]" name="demande_embauche[raison][jusquau]" class="js-datepicker form-control">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div> <!-- FIN CDD -->


            <!-- Temps partiel -->
           <div class="form-group row" style="">
    					<label class="control-label label col-sm-3 col-xs-12" for="prenom">{{ "embauche.cdd.partiel"|trans({}, "embauche") }}</label>
    					 <div class="col-sm-3 pad-box">
                 <label class="control-label label col-sm-12 col-xs-12"  for="nom"></label><br>
                 <label for="demande_embauche_heure" class="label">{{ "embauche.lundi"|trans({}, "embauche") }}</label>      <input type="number" name="demande_embauche[heure][lundi]"    min="0" max="8" id="demande_embauche[heure][lundi]" class="form-control">
                 <label for="demande_embauche_heure" class="label">{{ "embauche.mardi"|trans({}, "embauche") }}</label>      <input type="number" name="demande_embauche[heure][mardi]"    min="0" max="8" id="demande_embauche[heure][mardi]" class="form-control">
                 <label for="demande_embauche_heure" class="label">{{ "embauche.mercredi"|trans({}, "embauche") }}</label>   <input type="number" name="demande_embauche[heure][mercredi]" min="0" max="8" id="demande_embauche[heure][mercredi]" class="form-control">
                 <label for="demande_embauche_heure" class="label">{{ "embauche.jeudi"|trans({}, "embauche") }}</label>      <input type="number" name="demande_embauche[heure][jeudi]"    min="0" max="8" id="demande_embauche[heure][jeudi]" class="form-control">
                 <label for="demande_embauche_heure" class="label">{{ "embauche.vendredi"|trans({}, "embauche") }}</label>   <input type="number" name="demande_embauche[heure][vendredi]" min="0" max="8" id="demande_embauche[heure][vendredi]" class="form-control">
    					</div>
    				</div>


          {{ form_end(form) }}

        </div>

      </div>
    </div>
  </div>
  </div>
</div>

<script>
$('#demande_embauche_Envoyer').parent().append('<button  onclick="history.back()" style="float:left;" class="btn-black end">back</button>');
</script>





<script>
$(document).ready(function(){

  // Controle du champs CDD
  // Si coché alors on déploit le détail
  if ($('input[name="demande_embauche[typeContrat]"]:checked').val() == "embauche.cdd")
  {
    $('#block-cdd').show();
    $('input[name="demande_embauche[raison][raison]"]').attr('required', 'required');
  }

  $('#demande_embauche_typeContrat').change(function(){
    if ($('input[name="demande_embauche[typeContrat]"]:checked').val() == "embauche.cdd")
    {
      $('#block-cdd').show();
      $('input[name="demande_embauche[raison][raison]"]').attr('required', 'required');
    }
    else
    {
      $('#block-cdd').hide();
      $('input[name="demande_embauche[raison][raison]"]').removeAttr('required', 'required');
    }
  });

  // Gère le champ "jusqu'au" du CDD
  $('#demande_embauche_CDD').change(function(){

    // Montre le champ jusqu'au + required
    $('input[name="demande_embauche[raison][raison]"]:checked', '#demande_embauche_CDD').next().next().show();
    $('input[name="demande_embauche[raison][raison]"]:checked', '#demande_embauche_CDD').next().next().children().children().attr('required','required')
    $('input[name="demande_embauche[raison][raison]"]:checked', '#demande_embauche_CDD').next().next().children().children().removeAttr('disabled', 'disabled')

    // Cache les autres champs non checked et enlève le required
    $('input[name="demande_embauche[raison][raison]"]:not(:checked)').next().next().hide();
    $('input[name="demande_embauche[raison][raison]"]:not(:checked)').removeAttr('required','required');
    $('input[name="demande_embauche[raison][raison]"]:not(:checked)').next().next().children().children().removeAttr('required', 'required')
    $('input[name="demande_embauche[raison][raison]"]:not(:checked)').next().next().children().children().attr('disabled', 'disabled')

    if ($('.retourPhysique').is(':not(:checked)') && $('#demande_embauche_CDD_1').is(':checked'))
      $('.jusquau').attr('required','required')
    else {
       $('.jusquau').removeAttr('required','required')
     }
  });

  // Cas spécifique
  // Si coché 'retour physique' alors on cache le 'jusqu'au'
  $('input[name="demande_embauche[raison][retour]"]').change(function(){
    if ($('input[name="demande_embauche[raison][retour]"]').prop('checked') == true)
    {
      console.log('hide')
      $('#test').hide();
      $('#demande_embauche[raison][jusquau2]').removeAttr('required','required')
    }
    else
    {
      console.log('show')
      $('#test').show();
      $('#demande_embauche[raison][jusquau2]').attr('required','required')
    }

  });

  var $situ =  $('#demande_embauche_dejaSalarie');
  var $situ2 = $('#demande_embauche_postes');
  var $situ3 = $('#demande_embauche_diplomes');
  var $situ4 = $('#demande_embauche_classification');
  var $situ5 = $('#demande_embauche_salaireBase');


  // Gère les champs "autre"

  $addListener = function($form, $name, $champ, $nb, idInt){
    var addFieldAjax = function() {
      var isChecked = $('#demande_embauche_' + $champ + '_' + $nb).prop('checked');
      if ( (isChecked && $('#at' + idInt).length == 0)  ){
        var $form2 = $(this).closest('form');
        // Simulate form data, but only include the selected sport value.
        var data = {};
        data["demande_embauche[" + $name + "]" ] = $name;
        console.log(data);
        // Submit data via AJAX to the form's action path.
        $.ajax({
          url : "{{path('rh_embauche2')}}",
          type: $form2.attr('method'),
          data : data,
          success: function(html) {
              //console.log(html);
              // Replace current position field ...
              var label = $(html).find('label[for="demande_embauche_autre_'+$name+'"]').text();
              console.log(label);
              var input = $(html).find('#demande_embauche_autre_' + $name);
              var elem = '<div id="at' + idInt +'"><label for="demande_embauche_autre_' + $name + '" class="control-label label col-sm-3 col-xs-12 required">' + label + '</label><div id="autre' + idInt +'" class="col-sm-3"></div></div>';

              $form.parent().parent().append(elem);
              input.appendTo('#autre' + idInt);
            }
        }); // Fin ajax
      } else {
        $('#at' + idInt).remove();
      }
    }

    if($('#demande_embauche_' + $champ + '_' + $nb).prop('checked')){
      var data = {};
      data["demande_embauche[" + $name + "]" ] = $name;
      console.log(data);
      $.ajax({
        url : "{{absolute_url(path('rh_embauche2'))}}",
        type: "POST",
        data : data,
        success: function(html) {
            //console.log(html);
            // Replace current position field ...
            var label = $(html).find('label[for="demande_embauche_autre_' + $name + '"]').text();
            console.log(label);
            var input = $(html).find('#demande_embauche_autre_' + $name);
            var elem = '<div id="at' + idInt +'"><label for="demande_embauche_autre_' + $name + '" class="control-label label col-sm-3 col-xs-12 required">' + label + '</label><div id="autre' + idInt +'" class="col-sm-3"></div></div>';

            $form.parent().parent().append(elem);
            input.appendTo('#autre' + idInt);
          }
      }); // Fin ajax
    }
    $form.change(addFieldAjax); // Fin change()
  }

  $addListener($situ, "lieu", "dejaSalarie", 0, 1);
  $addListener($situ2, "poste", "postes", 2, 2);
  $addListener($situ3, "diplome", "diplomes", 2, 3);
  $addListener($situ4, "classification", "classification", 2 , 4);
  $addListener($situ5, "salaire", "salaireBase", 1, 5);



  $('#demande_embauche_autre').change(function(){
    console.log('change')
      if( $('#demande_embauche_autre').val().length > 0 ) {
        $('#demande_embauche_niveau').attr('disabled','disabled');
        $('#demande_embauche_echelon').prop('disabled', true);

        console.log('disabled')
      }
      else
      {
        $('#demande_embauche_niveau').prop('disabled', false);
        $('#demande_embauche_echelon').prop('disabled', false);
          console.log('enabled')
      }
});



});
</script>

<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}"/>

<script>
    $(document).ready(function() {
        $('.js-datepicker').datepicker({
            format: 'dd-mm-yyyy',
          });
    });
</script>

{% endblock %}
