{% extends 'base.html.twig' %}
{% block title %}Demande d'embauche{% endblock %}

{% block body %}

<div class="header">
    <img style="display: block !important;margin: auto !important;" id="logotop" src="{{ asset('img/provost.png') }}">
    <hr/>
    <span id="nomSalon">{{ app.session.get('nomSalon') }}</span>
</div>
<div class="head" >
        {{ "embauche.header"|trans({}, "embauche") }}
</div>

<div class="container">
  <div style="max-width: 100%; margin: auto;">
    <div class="row" style="margin:auto; display:block; padding-top: 50px;">

       {{ form_start(form, { 'attr' : { 'class': 'form-horizontal' } }) }}
    	<div class="col-sm-12" style="padding-right:0;padding-left:0;">
    		<p class="col-sm-6 upload">Diplômes</p>
    		<div class="col-sm-3"></div>
    		<label class="col-sm-3 label">
    			{{ form_widget(form.diplomeFile) }}
    		</label>
    	</div>
    	<div class="col-sm-12" style="padding-right:0;padding-left:0;">
    		<p class="col-sm-6 upload">Attestation Carte Vitale</p>
    		<div class="col-sm-3"></div>
    		<label class="col-sm-3 label">
    			Joindre {{ form_widget(form.carteVitale) }}
    		</label>
    	</div>
    	<div class="col-sm-12" style="padding-right:0;padding-left:0;">
    		<p class="col-sm-6 upload">RIB</p>
    		<div class="col-sm-3"></div>
    		<label class=" col-sm-3 label">
    			Joindre {{ form_widget(form.rib) }}
    		</label>
    	</div>
    	<div class="col-sm-12" style="padding-right:0;padding-left:0;">
    		<p class="col-sm-6 upload">Adhésion mutuelle</p>
    		<div class="col-sm-3"></div>
    		<label class="col-sm-3 label">
    				Joindre <input type="file" style="display: none;">
    		</label>
    	</div>
    	<div class="col-sm-12" style="padding-right:0;padding-left:0;">
    		<p class="col-sm-6 upload">Pièce d'identité</p>
    		<div class="col-sm-3"></div>
    		<label class="col-sm-3 label">
    			Joindre {{ form_widget(form.carteId) }}
    		</label>
		</div>
      {{ form_end(form) }}


    </div>
  </div>
</div>
{% endblock %}
