{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}

  <div class="header">
    <img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
  </div>
  <div class="head" >
    {{ "demande_embauche.header"|trans({}, "translator") }}
  </div>
  <div class="nomSalon">
    {{ app.session.get('nomSalon') }}
  </div>
  <div class="container">

  <div id="wrapperFormEmbauche2" class="row">

    {{ form_start(form, { 'attr' : { 'id':'demandeEmbauche2','class': 'allForm form-horizontal' } }) }}
    <div class="form-group">
      <label class="control-label label col-sm-3 col-xs-12"  for="embauche">{{ "demande_embauche.dateemb"|trans({}, "translator") }}</label>
      <div class="col-sm-3 col-xs-12">
        {{ form_widget(form.dateembauche, {'attr':{'class':'styleDate'}}) }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label label col-sm-3 col-xs-12" for="groupe">{{ "demande_embauche.ancien"|trans({}, "translator") }}</label>
      <div class="col-sm-4  col-xs-12 pad-box append" style="display: inline-flex" >
        {{ form_widget(form.dejaSalarie) }}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label label col-sm-3 col-xs-12" for="date">{{ "demande_embauche.poste"|trans({}, "translator") }}</label>
      <div class="col-sm-4 col-xs-12 pad-box append" style="display: inline-flex" >
        {{ form_widget(form.postes) }}
      </div>
    </div>

    <div class="form-group">
      <label class="control-label label col-sm-3 col-xs-12" for="date">{{ "demande_embauche.diplome"|trans({}, "translator") }}</label>
      <div class="col-sm-4 col-xs-12 pad-box" style="display: inline-flex" >
        {{ form_widget(form.diplomes) }}
      </div>
    </div>

    <div id="Classification" class="form-group" >
      <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "demande_embauche.class"|trans({}, "translator") }}</label>
      <div class="col-sm-3 col-xs-12" >
        <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "demande_embauche.niveau"|trans({}, "translator") }}</label>
        {{ form_widget(form.niveau) }}
      </div>
      <div class="col-sm-3 col-xs-12" >
        <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "demande_embauche.echelon"|trans({}, "translator") }}</label>
        {{ form_widget(form.echelon) }}
      </div>
      <div class="col-sm-3 col-xs-12" >
        <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "demande_embauche.autre"|trans({}, "translator") }}</label>
        {{ form_widget(form.autre) }}
      </div>
    </div>

    <div class="form-group row" >
      <label class="control-label label col-sm-3 col-xs-12" for="prenom">{{ "demande_embauche.salaire"|trans({}, "translator") }}</label>
      <div class="col-sm-4 col-xs-12 pad-box">
        {{ form_widget(form.salaireBase) }}
      </div>
    </div>

    <div class="form-group row" >
      <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "demande_embauche.contrat"|trans({}, "translator") }}</label>
      <div class="col-sm-8 col-xs-12 pad-box" >
        {{ form_widget(form.typeContrat) }}
      </div>
    </div>

    <div class="form-group row" style="display:none" id="block-cdd">
      <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "demande_embauche.cdd"|trans({}, "translator") }}</label>

      <div class="col-sm-8 pad-box" style="display: inline-flex">
        {% block _demande_embauche_cddRaison_row %}

        <div id="demande_embauche_cddRaison">
          {% for key,child in form.cddRaison %}

          <div class="col-sm-12">

            {% if key == 0 %}

                {{ form_widget(child, {'attr' : {'class' : ''} }) }}
                {{ form_label(child, child.vars.value) }}
                <div style="display:none;">
                  <div class="col-xs-12">
                    <label class="control-label label">{{ "demande_embauche.cdd.date"|trans({}, "translator") }}</label>
                    <input type="text" id="demande_embauche[raison][jusquau]" name="demande_embauche[raison][jusquau]" class="jusquau js-datepicker form-control">
                  </div>
                </div>

            {% elseif key == 1 %}

                {{ form_widget(child, {'attr' : {'class' : ''} }) }}
                {{ form_label(child, child.vars.value) }}
                <div style="display:none;">
                  <div class="col-xs-12">

                    <label class="control-label label">{{ "demande_embauche.cdd.nature"|trans({}, "translator") }}</label>{{ form_widget(form.remplacementNature) }}
                    <label class="control-label label">{{ "demande_embauche.cdd.nom"|trans({}, "translator") }}</label>   {{ form_widget(form.remplacementNom) }}

                    <div id="test" >
                      <label class="control-label label">{{ "demande_embauche.cdd.date"|trans({}, "translator") }}</label>
                      <input type="text" id="demande_embauche[raison][jusquau]" class="jusquau js-datepicker form-control" name="demande_embauche[raison][jusquau]">
                    </div>

                    <div>
                      <div class="form-group">
                        <div class="col-sm-12 col-xs-12 pad-box append" style="display: inline-flex" >
                          {{ form_widget(form.precisionDate) }}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

            {% else %}

              {{ form_widget(child, {'attr' : {'class' : ''} }) }}
              {{ form_label(child, child.vars.value) }}
              <div style="display:none;">
                <div class="col-xs-12">
                  <label class="control-label label">{{ "demande_embauche.cdd.date"|trans({}, "translator") }}</label>
                  <input type="text" id="demande_embauche[raison][jusquau]" name="demande_embauche[raison][jusquau]" class="jusquau js-datepicker form-control">
                </div>
              </div>

           {% endif %}
            </div>
          {% endfor %}

        </div>
      </div>
    </div> <!-- FIN CDD -->
    {% endblock %}

    <div class="form-group row" >
      <label class="control-label label col-sm-3 col-xs-12"  for="">{{ "demande_embauche.cdd.partiel"|trans({}, "translator") }}</label>
      <div class="col-sm-8 col-xs-12 pad-box" >
        {{ form_widget(form.isTempsPartiel) }}
      </div>
    </div>

    <!-- Temps partiel -->
    {% block _demande_embauche_tempsPartiel_row %}
    <div id="tempsPartiel" class="form-group row" style="display:none;">
      <label class="control-label label col-sm-3 col-xs-12" for="prenom">{{ "demande_embauche.cdd.partiel"|trans({}, "translator") }}</label>

      <div id="listeJours" class="col-sm-9 col-xs-12 pad-box">
          {% for key,child in form.tempsPartiel %}

           <div class="jour">
              {% if  key == "total"  %}
                {{ form_label(child, 'demande_embauche.' ~ key, {'label_attr' : {'class' : 'label'}}) }}
                {{ form_widget(child, {'attr' : {'class' : 'form-control total', 'readonly':'readonly'} }) }}
              {% else %}
                {{ form_label(child, 'demande_embauche.' ~ key, {'label_attr' : {'class' : 'label'}}) }}
                {{ form_widget(child, {'attr' : {'class' : 'form-control tempsHeure' } }) }}
              {% endif %}
            </div>

          {% endfor %}
      </div>

    </div>
    {% endblock %}

  <div id="actionsButtons">
    {{ form_end(form) }}
    <a href="{{ path('rh_embauche') }}" class="btn-black precedent">
        {{ "global.back"|trans({}, "translator") }}
    </a>
  </div>
</div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>

<script>

jQuery.validator.addMethod("validateDate", function(value, element) {
  dates = new Array();
  $(element).parent().find('select').each(function(){
     dates.push($(this).val());
  });
  console.log(dates);

  var m = parseInt( dates[1], 10);
  var d = parseInt( dates[0], 10);
  var y = parseInt( dates[2], 10);
  var date = new Date(y, m - 1, d);

  return (date.getFullYear() == y && date.getMonth() + 1 == m && date.getDate() == d); //(date.getFullYear() == y && date.getMonth() + 1 == m && date.getDate() == d);
}, "Date incorrect");

$("#demandeEmbauche2").validate({
rules: {
  'demande_embauche[dateembauche][month]' : {
    validateDate: true,
  },
  'demande_embauche[date][month]' : {
    validateDate: true,
  },
},
messages: {
  'fos_user_registration_form[username]': {
    required: "{{ "username_required"|trans({}, "message_validation_form") }}",
    minlength: "{{ "username_minlength"|trans({}, "message_validation_form") }}",
    validateDate: "Date incorrect"
  },
errorElement: "em",
errorPlacement: function ( error, element ) {
  //Add the `help-block` class to the error element
  error.addClass( "help-block" );

  // Add `has-feedback` class to the parent div.form-group
  // in order to add icons to inputs
  element.parents( ".col-sm-5" ).addClass( "has-feedback" );

  if ( element.prop( "type" ) === "checkbox") {
    error.insertAfter(element.parent( "label" ));
  } else if (element.prop( "type" ) === "select") {
    error.insertAfter( element.parent() );
  } else {
    error.insertAfter( element );
  }

  // Add the span element, if doesn't exists, and apply the icon classes to it.
  if ( !element.next( "span" )[ 0 ] ) {
    $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
  }

},
success: function ( label, element ) {
  // Add the span element, if doesn't exists, and apply the icon classes to it.
  if ( !$( element ).next( "span" )[ 0 ] ) {
    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
  }
},
highlight: function ( element, errorClass, validClass ) {
  $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
  $( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
},
unhighlight: function ( element, errorClass, validClass ) {
  $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
  $( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
}
}
});


$('#demande_embauche_dateembauche').focusout(function(){
    $('#demande_embauche_dateembauche_month').valid();
})
// $('#demande_embauche_date').focusout(function(){
//     $('#demande_embauche_date_month').each(function(){
//       console.log('test')
//         $(this).valid();
//     })
// })

$(document).ready(function(){
  var $tempsTotal = 0;
  // Contrôle sur les heures
  $(".tempsHeure").prop("type", "number");
  $('.tempsHeure').blur(function(){
    if (parseInt($(this).val()) > 9 )
      $(this).val(9)
    if (parseInt($(this).val()) < 1)
      $(this).val(1)

    $tempsTotal = 0
    $('.tempsHeure').each(function( index ) {
     var $value = parseInt($(this).val());

      if (isNaN($value))
        $value = 0;
      $tempsTotal += $value;
    });

    console.log('Value = ' + $tempsTotal);
    $('.total').val($tempsTotal);
  });
  // Controle champs Temps Partiel
  $('#demande_embauche_isTempsPartiel').change(function(){
    if ($('#demande_embauche_isTempsPartiel_0').prop('checked')){
      $('#tempsPartiel').show();
      $('#tempsPartiel').find('*').each(function (){
        $(this).attr('required', 'required')
      });
    } else {
      $('#tempsPartiel').hide();
      $('#tempsPartiel').find('*').each(function () {
        $(this).removeAttr('required', 'required')
      });
    }
  }).change();


  // Controle du champs CDD
  // Si coché alors on déploit le détail
  $('#demande_embauche_typeContrat').change(function(){
    if ($('input[name="demande_embauche[typeContrat]"]:checked').val() == "demande_embauche.cdd")
    {
      $('#block-cdd').show();
      $('input[name="demande_embauche[cddRaison]"]').attr('required', 'required');
      $('input[name="demande_embauche[cddRaison]"]:not(:checked)').children().each(function() {
        $(this).removeAttr('required','required');
      });
    }
    else
    {
      $('#block-cdd').hide();
      $('#block-cdd').find('*').each(function() {
        $(this).removeAttr('required','required');
        // if ($(this).is('input'))
        //   $(this).val("");
      });
    }
  }).change();

  // Gère le niveau en dessous de cddRaison
  // Si cheked alors on deploie + required
  $('#demande_embauche_cddRaison').change(function(){

    $('input[name="demande_embauche[cddRaison]"]:checked', '#demande_embauche_cddRaison').parent().find('*').each(function() {
        $(this).attr('required','required');
        $(this).removeAttr('disabled','disabled');
        $(this).show();

    });

    $('input[name="demande_embauche[cddRaison]"]:not(:checked)', '#demande_embauche_cddRaison').parent().find('div').each(function() {
        $(this).removeAttr('required','required');
        $(this).hide();
    });

    $('input[name="demande_embauche[cddRaison]"]:not(:checked)', '#demande_embauche_cddRaison').parent().find('*').each(function() {
        $(this).removeAttr('required','required');
        if ($(this).is('select')){
          $(this).attr('disabled','disabled');
          $(this).parent().attr('disabled','disabled');
        }
        // if ($(this).is('input'))
        //   $(this).val("");
    });
  }).change();


  var $situ  = $('#demande_embauche_dejaSalarie');
  var $situ2 = $('#demande_embauche_postes');
  var $situ3 = $('#demande_embauche_diplomes');
  var $situ4 = $('#demande_embauche_classification');


  // Gère les champs "autre" dynamiquement
  // avec les FormEvent de Symfony
  $addListener = function($form, $name, $champ, $nb, idInt) {
    var addFieldAjax = function() {
      var isChecked = $('#demande_embauche_' + $champ + '_' + $nb).prop('checked');

      if ( (isChecked && $('#at' + idInt).length == 0)  ){
        // Submit data via AJAX to the form's action path.
        var data = {};
        data["demande_embauche[" + $name + "]" ] = $name;
        console.log(data);

        $.ajax({
          url : "{{path('rh_embauche2')}}",
          type: "POST",
          data : data,
          success: function(html) {
            //console.log(html);
            // Replace current position field ...
            var label = $(html).find('label[for="demande_embauche_autre_' + $name + '"]').text();
            var input = $(html).find('#demande_embauche_autre_' + $name);
            var elem = '<div id="at' + idInt +'"><label for="demande_embauche_autre_' + $name + '" class="control-label label col-sm-3 col-xs-12 required">' + label + '</label><div id="autre' + idInt +'" class="other col-sm-3"></div></div>';

            $form.parent().parent().append(elem);
            input.appendTo('#autre' + idInt);
          }
        }); // Fin ajax
      } else {
        if(!isChecked)
          $('#at' + idInt).remove();
      }
    }

    $form.change(addFieldAjax).change(); // Fin change()
  }

  $addListener($situ, "lieu", "dejaSalarie", 0, 1);
  $addListener($situ2, "poste", "postes", 2, 2);
  $addListener($situ3, "diplome", "diplomes", 2, 3);
  $addListener($situ4, "classification", "classification", 2 , 4);


  // Champs autre de Classification
  $('#demande_embauche_autre').change(function(){
    if( $('#demande_embauche_autre').val().length > 0 ) {
      $('#demande_embauche_niveau').attr('disabled','disabled').parent().hide();
      $('#demande_embauche_echelon').prop('disabled', true).parent().hide();
      console.log('disabled')
    }
    else
    {
      $('#demande_embauche_niveau').prop('disabled', false).parent().show();
      $('#demande_embauche_echelon').prop('disabled', false).parent().show();
      console.log('enabled')
    }
  });

});
</script>

<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}"/>

<script>
  // Remplace les champs date en calendrier
  $(document).ready(function() {
    $('.jusquau').replaceWith( $('#demande_embauche_date') );
  });

  // Si clique sur déconnexion ou admin ou home alors
  // on clear la session
  $('.out').click(function(){
    clearSession();
  });

  function clearSession()
  {
    $.ajax({
      url : "{{path('clearSession')}}",
      type: 'GET'
    });
  }
</script>
<script language="javascript">
		$('#topNav').css('display', 'initial');
</script>
{% endblock %}
