{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}

<div class="header">
    <img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>
<div class="head" >
        {{ "demande_embauche.header"|trans({}, "translator") }}
</div>
<div class="nomSalon">
  {{ app.session.get('nomSalon') }}
</div>
<div class="container">

    <div id="actions" class="formActionUpload" >

       {{ form_start(form, { 'attr' : { 'id':'demandeEmbauche3','class': 'allForm form-horizontal' } }) }}
    	<div class="form-group" >
    			<label class="control-label label col-sm-4 col-xs-12" >{{ "demande_embauche.diplome"|trans({}, "translator") }}</label>
    		  <div class="col-sm-4 col-sm-offset-3 col-xs-12">
            {{ form_widget(form.diplomeFile, { 'attr': {'class': 'input-file'} }) }}

            <label for="demande_embauche_diplomeFile" class="label-file">
              <i class="glyphicon glyphicon-download-alt"></i>
              <span>{{ "demande_embauche.choix"|trans({}, "translator") }}</span>
            </label>
    		  </div>
    	</div>
      <div class="form-group" >
          <label class="control-label label col-sm-4 col-xs-12" >{{ "demande_embauche.diplome2"|trans({}, "translator") }}</label>
          <div class="col-sm-4 col-sm-offset-3 col-xs-12">
            {{ form_widget(form.diplomeFile2, { 'attr': {'class': 'input-file'} }) }}

            <label for="demande_embauche_diplomeFile2" class="label-file">
              <i class="glyphicon glyphicon-download-alt"></i>
              <span>{{ "demande_embauche.choix"|trans({}, "translator") }}</span>
            </label>
          </div>
      </div>
    	<div class="form-group">
          <label class="control-label label col-sm-4 col-xs-12">{{ "demande_embauche.cartev"|trans({}, "translator") }}</label>
      		<div class="col-sm-4 col-sm-offset-3 col-xs-12">
            {{ form_widget(form.carteVitale, { 'attr': {'class': 'input-file'} }) }}

            <label for="demande_embauche_carteVitale" class="label-file">
              <i class="glyphicon glyphicon-download-alt"></i>
              <span>{{ "demande_embauche.choix"|trans({}, "translator") }}</span>
            </label>
      	  </div>
    	</div>
      <div class="form-group" >
          <label class="control-label label col-sm-4 col-xs-12">{{ "demande_embauche.rib"|trans({}, "translator") }}</label>
      		<div class="col-sm-4 col-sm-offset-3 col-xs-12">
            {{ form_widget(form.rib, { 'attr': {'class': 'input-file'} }) }}

            <label for="demande_embauche_rib" class="label-file">
              <i class="glyphicon glyphicon-download-alt"></i>
              <span>{{ "demande_embauche.choix"|trans({}, "translator") }}</span>
            </label>
    	    </div>
    	</div>
      <div class="form-group" >
          <label class="control-label label col-sm-4 col-xs-12">{{ "demande_embauche.adhesion"|trans({}, "translator") }}</label>
          <div class="col-sm-4 col-sm-offset-3 col-xs-12">
            {{ form_widget(form.mutuelle, { 'attr': {'class': 'input-file'} }) }}

            <label for="demande_embauche_mutuelle" class="label-file">
              <i class="glyphicon glyphicon-download-alt"></i>
              <span>{{ "demande_embauche.choix"|trans({}, "translator") }}</span>
            </label>
    		  </div>
    	</div>
      <div class="form-group" >
          <label class="control-label label col-sm-3 col-xs-12">{{ "demande_embauche.pi"|trans({}, "translator") }}</label>
          <div class="col-sm-4 col-sm-offset-3 col-xs-12">
            {{ form_widget(form.carteId, { 'attr': {'class': 'input-file'} }) }}

            <label for="demande_embauche_carteId" class="label-file">
              <i class="glyphicon glyphicon-download-alt"></i>
              <span>{{ "demande_embauche.choix"|trans({}, "translator") }}</span>
            </label>
    		  </div>
		  </div>
      <div id="actionsButtons">
  			{{ form_end(form) }}
  						<a href="{{ path('rh_embauche2') }}" class="btn-black precedent">
  								{{ "global.back"|trans({}, "translator") }}
  						</a>
  		</div>


  </div>
</div>

<script src="{{ asset('js/custom-file-input.js') }}"></script>

<script language="javascript">

  $('.libelle').click(function(){
    clearSession();
  });

  function clearSession()
  {
    $.ajax({
      url : "{{path('clearSession')}}",
      type: 'GET'
    });
  }

	$('#topNav').css('display', 'initial');
</script>
{% endblock %}
