{% extends 'base.html.twig' %}
{% block title %}{{ "home_paie.header"|trans({}, "home_paie") }}{% endblock %}

{% block body %}

<div class="header">
    <img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>
<div class="head" >
    {{ "home_paie.header"|trans({}, "home_paie") }}

</div>
<div class="nomSalon">
  {{ app.session.get('nomSalon') }}
</div>
<div class="container">
    <div class="row">
        <div id="actions" class="menuAction off">

            <div class="col-sm-12">
                <div class="col-sm-6 block">
                    <div class="under-block" onclick="window.location.href ='{{ path("paie_acompte") }}'"><p class="carre">{{ "home_paie.acompte"|trans({}, "home_paie") }}</p></div>
                </div>
                <div class="col-sm-6 block">
                    <div class="under-block"><p class="carre">{{ "home_paie.rib"|trans({}, "home_paie") }}</p></div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-6 block">
                    <div class="under-block"><p class="carre">{{ "home_paie.attestation"|trans({}, "home_paie") }}</p></div>
                </div>
                <div class="col-sm-6 block">
                    <div class="under-block"><p class="carre">{{ "home_paie.solde"|trans({}, "home_paie") }}</p></div>
                </div>
            </div>

            <button class="btn-black precedent" onclick="window.location.href = '{{ path("homepage") }}'" >{{ "home_paie.back"|trans({}, "home_paie") }}</button>

        </div>
    </div>
</div>

{% endblock %}
