{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}

<div class="header ">
    <img style="display: block !important;margin: auto !important;" id="logotop" src="">
</div>
<div class="head" >
{{ "home.bonjour"|trans({}, "translator") }}  {{ personnel.prenom  }} {{ personnel.nom|upper  }} <br/>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="myDropdown" class="origin"></div>
        </div>


   <div id="actions" class="home off menuAction">
     <div class="blockAction"></div>
      <div class="col-sm-12">
          <div class="col-sm-6 block">
              <div onclick="window.location.href = '{{ path("home_juridique_rh") }}'"  class="under-block"><p class="carre">{{ "home.juridique_rh"|trans({}, "translator") }}</p></div>
          </div>
          <div class="col-sm-6 block">
              <div onclick="window.location.href = '{{ path("home_paie") }}'" class="under-block"><p class="carre">{{ "home.paie"|trans({}, "translator") }}</p></div>
          </div>
      </div>

      <div class="col-sm-12">

          <div class="col-sm-6 block">
              <div onclick="window.location.href = '{{ path("demande") }}'" class="under-block"><p class="carre">{{ "home.demand"|trans({}, "translator") }}</p></div>
          </div>
          <div class="col-sm-6 block">
              <div onclick="window.location.href = '{{ path("autre_demande") }}'" class="under-block"><p class="carre">{{ "home.autre_demand"|trans({}, "translator") }}</p></div>
          </div>
      </div>



   </div>
</div>
</div>
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-body">
               <div class="flashConfirmation">
                        {{ flash|trans({}, "translator") }}
                  <span class="glyphicon glyphicon-ok-sign" data-dismiss="modal"></span>
               </div>
            </div>
            <span class="closeAlert glyphicon glyphicon-remove" data-dismiss="modal"></span>
      </div>
   </div>
</div>
<script src="{{ asset('js/jquery.ddslick.min.js') }}"></script>
<script language="javascript">
var ddData = [
     {% for salon in salons %}
        {
            value: {{ salon.sage }},
            text: " {{salon.enseigne.nom}} {{ salon.appelation }}",
            imageSrc: "{{ asset("img/") ~ salon.enseigne.logo }}"
               {% if loop.last %}
                 }
               {% else %}
                 },
               {% endif %}

     {% endfor %}
    ];

    $('#myDropdown').ddslick({
        data:ddData,
        width:450,
        background: '#fff',
        {% if app.session.get('idSalon') %}
            defaultSelectedIndex:  {{ app.session.get('numero') }},
        {% else %}
        selectText: '{{ "home.choice"|trans({}, "translator") }}',
        {% endif %}

        onSelected: function(selectedData){

             if ($("#actions").is('.off')){
                  $('#actions').removeClass('off').addClass('on');
                  $(".blockAction").remove();
                }

            logo = document.getElementById('logotop');
            logo.src = selectedData.selectedData.imageSrc;
            text = selectedData.selectedData.text;
            var ddData = $('#myDropdown').data('ddslick');
            $.post('{{ path('selected_salon') }}', {idSalon: selectedData.selectedData.value, nomSalon: text, img: logo.src, numero: ddData.selectedIndex });
        }
    });


    $('.closeAlert').bind('click', function(){
          $(".alert").css('display','none');
          $(".alert").remove();

    });

   {% if flash %}
       $("#myModal").modal();
       $("#myModal").css('display','flex');
   {% endif %}


    </script>




{% endblock %}
