{% extends 'base.html.twig' %}
{% block title %}{{ "home_juridique_rh.header"|trans({}, "home_juridique_rh") }}{% endblock %}

{% block body %}

<div class="header">
  <img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>
<div class="head" >
  {{ "home_juridique_rh.header"|trans({}, "home_juridique_rh") }}
</div>
<div class="container">
  <div id="actions" class="menuActionBig off">
    <div class="row">

      <div class="col-sm-12">
        <div class="col-sm-12">
          <div onclick="window.location.href = '{{ path('rh_embauche') }}'" class="col-sm-4 block">
            <div class="under-block"><p class="carre">{{ "home_juridique_rh.embauche"|trans({}, "home_juridique_rh") }}</p></div>
          </div>
          <div class="col-sm-4 block">
            <div class="under-block"><p class="carre">{{ "home_juridique_rh.rupture"|trans({}, "home_juridique_rh") }}</p></div>
          </div>
          <div class="col-sm-4 block">
            <div class="under-block"><p class="carre">{{ "home_juridique_rh.conge"|trans({}, "home_juridique_rh") }}</p></div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-4 block">
            <div class="under-block"><p class="carre">{{ "home_juridique_rh.essai"|trans({}, "home_juridique_rh") }}</p></div>
          </div>
          <div class="col-sm-4 block">
            <div class="under-block"><p class="carre">{{ "home_juridique_rh.absence"|trans({}, "home_juridique_rh") }}</p></div>
          </div>
          <div class="col-sm-4 block">
            <div class="under-block"><p class="carre">{{ "home_juridique_rh.promesse"|trans({}, "home_juridique_rh") }}</p></div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-4 block">
            <div class="under-block"><p class="carre">{{ "home_juridique_rh.avenant"|trans({}, "home_juridique_rh") }}</p></div>
          </div>
          <div class="col-sm-4 block">
            <div class="under-block"><p class="carre">{{ "home_juridique_rh.demission"|trans({}, "home_juridique_rh") }}</p></div>
          </div>
          <div class="col-sm-4 block">
            <div class="under-block"><p class="carre">{{ "home_juridique_rh.mission"|trans({}, "home_juridique_rh") }}</p></div>
          </div>
        </div>
        
        <button class="btn-black precedent" onclick="window.location.href = '{{ path("homepage") }}'" style="float:none;">Précédent</button>
      </div>
    </div>
  </div>
</div>
<style>

.carre {
  height: 90px !important;
  margin-bottom: 25px;
}
</style>





{% endblock %}
