{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}

<div class="header">
    <img style="display: block !important;margin: auto !important;" id="logotop" src="">
</div>
<div class="head" >
Bonjour  {{ personnel.prenom  }} {{ personnel.nom  }} <br/>
</div>
<div class="container">

    <div class="row" style="max-width: 875px;margin: auto;">

        <div class="col-sm-12">
            <div id="myDropdown" style="margin:auto;"></div>
        </div>

	{% for flash_message in app.session.flashBag.get('success') %}
		<div class="alert alert-success success">
			{{ flash_message }}
      <span class="closeAlert glyphicon glyphicon-remove"></span>
		</div>
	{% endfor %}
   <div id="actions" class="home off">
     <div class="blockAction"></div>
      <div class="col-sm-12" style="padding-top:40px; max-width:1200px; margin:auto;">
          <div class="col-sm-6 block">
              <div onclick="window.location.href = '{{ path("home_juridique_rh") }}'"  class="under-block"><p class="carre">{{ "home.juridique_rh"|trans({}, "home") }}</p></div>
          </div>
          <div class="col-sm-6 block">
              <div onclick="window.location.href = '{{ path("demande") }}'" class="under-block"><p class="carre">{{ "home.demand"|trans({}, "home") }}</p></div>
          </div>
      </div>

      <div class="col-sm-12" style=" max-width:1200px;margin:auto;float:none;">
          <div class="col-sm-6 block">
              <div onclick="window.location.href = '{{ path("home_paie") }}'" class="under-block"><p class="carre">{{ "home.paie"|trans({}, "home") }}</p></div>
          </div>

      </div>



   </div>
</div>
</div>
<script src="{{ asset('js/jquery.ddslick.min.js') }}"></script>
<script language="javascript">
var ddData = [
     {% for salon in salons %}
        {
            value: {{ salon.id }},
            text: "{{ salon.nom }}",
            imageSrc: "{{ asset("img/") ~ salon.enseigne.logo }}"
               {% if loop.last %}
                 }
               {% else %}
                 },
               {% endif %}

     {% endfor %}
    ];

    $('#myDropdown').ddslick({
        data:ddData,
        width:200,
        background: '#000',
        imagePosition:"center",
        {% if app.session.get('idSalon') %}
            defaultSelectedIndex:  {{ app.session.get('numero') }},
        {% else %}
        selectText: "Veuillez choisir un salon",
        {% endif %}

        onSelected: function(selectedData){

             if ($("#actions").is('.off')){
                  $("#actions").attr('class','on');
                  $(".blockAction").remove();
                }

            logo = document.getElementById('logotop');
            logo.src = selectedData.selectedData.imageSrc;
            text = selectedData.selectedData.text;
            var ddData = $('#myDropdown').data('ddslick');
            $.post('{{ path('selected_salon') }}', {idSalon: selectedData.selectedData.value, nomSalon: text, img: logo.src, numero: ddData.selectedIndex });
        }
    });


    $('.closeAlert').bind('click', function(){
          $(".alert").css('display','none');
          $(".alert").remove();

    });

    </script>


{% endblock %}
