{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
{% trans_default_domain "demandeacompte" %}
<div class="header">
	<img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>
<div class="head">
	Demande d'acompte
</div>


{{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}


<div class="container">
	<div style="max-width: 100%; margin: auto;">

		<div class="row">
			<form class="form-horizontal" onsubmit="event.preventDefault();" style="margin: auto;width: 50%;">
			  <div class="form-group" style="padding-top: 50px">
				<label class="control-label label col-sm-3 col-xs-12" for="personnel"> {{ form_label(form.idPersonnel) }}</label>
				 <div class="col-sm-9">

                     {{ form_row(form.idPersonnel, { 'attr': {'class': 'form-control'} }) }}
				</div>
			  </div>

			<div class="form-group">
				<label class="control-label label col-sm-3 col-xs-12" for="montant">{{ form_label(form.montant) }}</label>
				<div class="col-sm-9">

                        {{ form_row(form.montant, { 'attr': {'class': 'form-control'} }) }}

				</div>
			 </div>



				<div class="col-sm-12" style="padding: 0;">
					<button  onclick="window.location.href ='{{ path("home_paie") }}'" class="btn-black precedent">Précédent</button>
                    {{ form_end(form) }}
				</div>
			</form>
		</div>
		<a href="{{ path('fos_user_security_logout') }}">
				<div class="col-sm-4 deco block">
						<span class="glyphicon glyphicon-off" style="padding-right:5px"></span>{{ "home.deconnexion"|trans({}, "home") }}
				</div>
		</a>
		</div>


	</div>

</div>
{% endblock %}
