{% extends 'base.html.twig' %}
{% form_theme form 'form/error.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
{% trans_default_domain "demandeacompte" %}
<div class="header">
	<img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>
<div class="head">
	Demande d'acompte
</div>



<div class="container">

  <div id="actions" class="off">

		<div class="alert alert-info fade in">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			<strong>Information:</strong> Pour que la demande d’acompte soit validée ce mois-ci veuillez envoyer<br/> votre demande avant le <u>17</u> du mois
	  </div>

		{{ form_start(form, {'attr': {'class': 'demande_acompte', 'id':'formAccompte'} }) }}

		    {{ form_errors(form)}}
		<div class="row"  style="max-width: 875px; margin: auto;">
			  <div class="form-group">
				<label class="control-label label col-sm-3 col-xs-12" for="personnel"> {{ form_label(form.idPersonnel) }}</label>
				 <div class="col-sm-9">

                     {{ form_widget(form.idPersonnel, { 'attr': {'class': 'form-control'} }) }}
				</div>
			  </div>

			<div class="form-group">
				<label class="control-label label col-sm-3 col-xs-12" for="montant">{{ form_label(form.montant) }}</label>
				<div class="col-sm-9">

                        {{ form_widget(form.montant, { 'attr': {'class': 'form-control'} }) }}
												<div id="infoMontant">
														<span class="min">150€ min</span>
														<span class="max">1500€ max.</span>
												</div>


				</div>
			 </div>

		</div>
		<div id="actionsButtons">
			   {{ form_end(form) }}
					<a href="{{ path('home_paie') }}" class="btn-black precedent">Précédent</a>

    </div>


	</div>
</div>

</div>

<script language="javascript">
// With JQuery
$("#demande_acompte_montant").slider({
	tooltip: 'always'
});

</script>

{% endblock %}
