{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
{% trans_default_domain "demandeacompte" %}
<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>

<div class="header admin"></div>
<div class="head">
	Administration - Créer un compte Service
</div>

<div class="container">
    <div id="actions" class="formAction">
				{{ form_start(form, {'attr': {'id': 'createAccountService', 'class':'allForm'} } ) }}
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="username"> {{ form_label(form.username) }}</label>
<<<<<<< HEAD
					<div class="col-sm-9  col-xs-12">
=======
					<div id="username" class="col-sm-9  col-xs-12">
>>>>>>> suivi
						{{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="plainPassword"> {{ form_label(form.plainPassword.first) }}</label>
					<div class="col-sm-9  col-xs-12">
						{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="plainPassword"> {{ form_label(form.plainPassword.second) }}</label>
					<div class="col-sm-9  col-xs-12">
						{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="roles"> {{ form_label(form.roles) }}</label>
					<div class="col-sm-9  col-xs-12">
						{{ form_widget(form.roles, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="enabled"> {{ form_label(form.enabled) }}</label>
					<div class="col-sm-9  col-xs-12">
						{{ form_widget(form.enabled, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="email"> {{ form_label(form.email) }}</label>
					<div class="col-sm-9  col-xs-12">
						{{ form_widget(form.email, { 'attr': {'class': 'form-control','novalidate':'novalidate'} }) }}
					</div>
				</div>
		<div id="actionsButtons">
 			{{ form_end(form) }}
				  <a class="btn-black precedent" href = "{{ path('createType') }}">
						{{ "global.back"|trans({}, "global") }}
				  </a>
    </div>
</div>
</div>

 <script type="text/javascript">
  $( document ).ready( function () {

<<<<<<< HEAD
=======
$( "#fos_user_registration_form_username").change(function(){
	inputUsername = $('#fos_user_registration_form_username').val();

			$.ajax({
			 url : "{{path('uniqueUsername')}}",
			 type: 'POST',
			 data : 'inputUsername=' + inputUsername,
			 success: function(html) {
						if(html == 1){
							$( "#username").append('<em id="fos_user_registration_form_username-error" class="error help-block">Nom d\'utilisateur déjà utilisé</em>');

							$( "#username .glyphicon").removeClass('glyphicon-ok');
							$( "#username .glyphicon").addClass('glyphicon-remove');
							$( "#fos_user_registration_form_username").attr('aria-invalid','true');
							$( "#fos_user_registration_form_Valider").css('display','none');
						}else{
							$( "#fos_user_registration_form_username").attr('aria-invalid','false');
							$( "#username .glyphicon").removeClass('glyphicon-remove');
							$( "#username .glyphicon").addClass('glyphicon-ok');
							$( "#fos_user_registration_form_Valider").css('display','block');
						}
			 }
		 });
});

>>>>>>> suivi
 $( "#createAccountService" ).validate( {
	rules: {
		'fos_user_registration_form[username]': {
			required: true,
			minlength: 5
		},
		'fos_user_registration_form[plainPassword][first]': {
			required: true,
			minlength: 5
		},
		'fos_user_registration_form[plainPassword][second]': {
			equalTo: "#fos_user_registration_form_plainPassword_first"
		},
		'fos_user_registration_form[enabled]': {
			required: true
		},
		'fos_user_registration_form[email]': {
			required: false,
			email: true
		}
	},
	messages: {
		'fos_user_registration_form[username]': {
			required: "{{ "username_required"|trans({}, "message_validation_form") }}",
			minlength: "{{ "username_minlength"|trans({}, "message_validation_form") }}"
		},
		'fos_user_registration_form[plainPassword][first]': {
			required: "{{ "firstPassword_required"|trans({}, "message_validation_form") }}",
			minlength: "{{ "firstPassword_minlength"|trans({}, "message_validation_form") }}"
		},
		'fos_user_registration_form[plainPassword][second]': {
			required: "{{ "secondPassword_required"|trans({}, "message_validation_form") }}",
			minlength: "{{ "secondPassword_minlength"|trans({}, "message_validation_form") }}",
			equalTo: "{{ "secondPassword_equalTo"|trans({}, "message_validation_form") }}"
		},
		'fos_user_registration_form[enabled]': "{{ "enabled_required"|trans({}, "message_validation_form") }}",
		'fos_user_registration_form[email]': "{{ "email_valid"|trans({}, "message_validation_form") }}"
	},
	errorElement: "em",
	errorPlacement: function ( error, element ) {
		// Add the `help-block` class to the error element
		error.addClass( "help-block" );

		// Add `has-feedback` class to the parent div.form-group
		// in order to add icons to inputs
		element.parents( ".col-sm-5" ).addClass( "has-feedback" );

		if ( element.prop( "type" ) === "checkbox" ) {
			error.insertAfter( element.parent( "label" ) );
		} else {
			error.insertAfter( element );
		}

		// Add the span element, if doesn't exists, and apply the icon classes to it.
		if ( !element.next( "span" )[ 0 ] ) {
			$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
		}
	},
	success: function ( label, element ) {
		// Add the span element, if doesn't exists, and apply the icon classes to it.
		if ( !$( element ).next( "span" )[ 0 ] ) {
			$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
		}
	},
	highlight: function ( element, errorClass, validClass ) {
		$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
		$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
	},
	unhighlight: function ( element, errorClass, validClass ) {
		$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
		$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
	}
} );

 } );
 </script>
 {% endblock %}
