{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
{% trans_default_domain "demandeacompte" %}
<div class="head">
	Administration - Créer un compte
</div>


{{ form_start(formS2, {'attr': {'id': 'createAccountS2'} }) }}


			<div class="container">
				<div style="max-width: 100%; margin: auto;">

					<div class="row">
							  <div class="form-group" style="padding-top: 50px">
										<label class="control-label label col-sm-3 col-xs-12" for="salon"> {{ form_label(formS2.nom) }}</label>
												 <div class="col-sm-9">
			 									 				{{ form_widget(formS2.nom, { 'attr': {'class': 'form-control'} }) }}
												</div>
							  </div>
					</div>
				</div>
			</div>

 {{ form_end(formS2) }}
<br/>
<br/>
<br/>
<br/>




		<a href="{{ path('fos_user_security_logout') }}">
				<div class="col-sm-4 deco block">
						<span class="glyphicon glyphicon-off" style="padding-right:5px"></span>{{ "home.deconnexion"|trans({}, "home") }}
				</div>
		</a>
		</div>


	</div>

	{% endblock %}
