
{% trans_default_domain "translator" %}

{{ form_start(formS2, {'attr': {'id': 'createAccountS2', 'class':'allForm createAccount'} }) }}
							  <div class="form-group">
										<label class="control-label label col-sm-3 col-xs-12" for="salon"> {{ form_label(formS2.nom) }}</label>
												 <div class="col-sm-9 col-xs-12">
			 									 				{{ form_widget(formS2.nom, { 'attr': {'class': 'form-control'} }) }}
												</div>
							  </div>
						<div id="actionsButtons">
 								{{ form_end(formS2) }}
								<a id="form_Suivant" class="btn-black end" href="#">
										{{ "global.next"|trans({}, "translator") }}
								</a>
 								<a id="form_Precedent" class="btn-black precedent" href="#">
										{{ "global.back"|trans({}, "translator") }}
 								</a>
						</div>


 	<script type="text/javascript">

   $("#form_Suivant").bind('click', function(){

     ChangeEstate('stepThree','labelThree',2,'next');

      			$('#CreateFormStep').fadeOut('slow', function(){ //on fait disparaitre l ancien contenu
													var matricule = $('#form_nom').val();

																				 $.ajax({
																	 				url : "{{path('createAccountS3')}}",
																	 				type: 'POST',
																	 				data : 'matricule=' + matricule,
																	 				success: function(html) {
																					      	$('#CreateFormStep').html(html);
										 															$('#CreateFormStep').fadeIn('slow');
																	 				}
																	 			});
 											 });

 });
   $("#form_Precedent").bind('click', function(){

     ChangeEstate('stepOne','labelOne',2,'prev');

 			$('#CreateFormStep').fadeOut('slow', function(){

																					 $.ajax({
																		 				url : "{{path('createAccountS1')}}",
																		 				type: 'POST',
																		 				success: function(html) {
																						      	$('#CreateFormStep').html(html);
											 															$('#CreateFormStep').fadeIn('slow');
																		 				}
																		 			});
 											 });

 });


			 if( $('#form_nom').val() == 0 ) {
				 		$('#form_Suivant').remove();
			 }
 		</script>
