{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
{% trans_default_domain "demandeacompte" %}
<div class="header admin"></div>
<div class="head">
	Administration - Créer un compte Service
</div>

<div class="container">
    <div id="actions" class="formAction">
			<div class="AccountInfo alert alert-warning">
			  Vous  êtes sur le point de créer un compte Service
			</div>

				{{ form_start(form, {'attr': {'id': 'createAccountService', 'class':'allForm'} } ) }}
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="username"> {{ form_label(form.username) }}</label>
					<div class="col-sm-9  col-xs-12">
						{{ form_widget(form.username, { 'attr': {'class': 'form-control','value':''} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="plainPassword"> {{ form_label(form.plainPassword.first) }}</label>
					<div class="col-sm-9  col-xs-12">
						{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control','value':'azerty'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="plainPassword"> {{ form_label(form.plainPassword.second) }}</label>
					<div class="col-sm-9  col-xs-12">
						{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control','value':'azerty'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="roles"> {{ form_label(form.roles) }}</label>
					<div class="col-sm-9  col-xs-12">
						{{ form_widget(form.roles, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="enabled"> {{ form_label(form.enabled) }}</label>
					<div class="col-sm-9  col-xs-12">
						{{ form_widget(form.enabled, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-3 col-xs-12" for="email"> {{ form_label(form.email) }}</label>
					<div class="col-sm-9  col-xs-12">
						{{ form_widget(form.email, { 'attr': {'class': 'form-control','novalidate':'novalidate'} }) }}
					</div>
				</div>
		<div id="actionsButtons">
 			{{ form_end(form) }}
				  <a class="btn-black precedent" href = "{{ path('createType') }}">
						{{ "global.back"|trans({}, "global") }}
				  </a>
    </div>
</div>
</div>

 <script type="text/javascript">

 $("#form_Precedent").bind('click', function(){

	 ChangeEstate('labelTwo','stepTwo',3,'prev');

		$('#CreateFormStep').fadeOut('slow', function(){

												$( "#CreateFormStep" ).load("/admin/createS2/"+{{app.session.get('idSalonAdmin')}},
																			 function(){


																									 $('#CreateFormStep').fadeIn('slow');

																								});
										 });

});
 </script>
 {% endblock %}
