{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
{% trans_default_domain "translator" %}
<div class="header admin">
</div>
<div class="head">
{{ "admin.manager.titre"|trans({}, "translator") }}</div>

<div class="container">
  <div id="actions" class="formAction">
		  <div id="fil">
				 <span id="base">
					 <span id="stepOne" class="step active"></span>
 						 	<span id="stepTwo" class="step"></span>
 						 	<span id="stepThree" class="step"></span>
 							<label id="labelOne" class="labelFil active">{{ "admin.manager.labelOne"|trans({}, "translator") }}</label>
 							<label id="labelTwo" class="labelFil">{{ "admin.manager.labelTwo"|trans({}, "translator") }}</label>
 							<label id="labelThree" class="labelFil">{{ "admin.manager.labelThree"|trans({}, "translator") }}</label>
				 </<span>
			 </div>
					<div id="CreateFormStep">


					</div>

	</div>
</div>
	<script type="text/javascript">
  {% if errors %}
  $('#CreateFormStep').fadeOut('slow', function(){ //on fait disparaitre l ancien contenu
          $.ajax({
           url : "{{path('createAccountS3')}}",
           type: 'POST',
           data : 'errors=' + {{ errors }},
           success: function(html) {
                   $('#CreateFormStep').html(html);
                   $('#CreateFormStep').fadeIn('slow');
            }
         });
     });

  {% else %}
        $( "#CreateFormStep" ).load("/admin/createS1"); // on fait apparaitre le nouveau contenu

  {% endif %}



		</script>

		{% endblock %}
