
{% trans_default_domain "demandeacompte" %}

{{ form_start(formS2, {'attr': {'id': 'createAccountS2'} }) }}


				<div style="max-width: 100%; margin: auto;">

					<div class="row">
							  <div class="form-group" style="padding-top: 50px">
										<label class="control-label label col-sm-3 col-xs-12" for="salon"> {{ form_label(formS2.nom) }}</label>
												 <div class="col-sm-9">
			 									 				{{ form_widget(formS2.nom, { 'attr': {'class': 'form-control'} }) }}
												</div>
							  </div>
					</div>
				</div>

 {{ form_end(formS2) }}
 <a id="form_Suivant" class="btn btn-success suivant" href="#">{{ "admin_create.suivant"|trans({}, "admin_create") }} </a>
 <a id="form_Precedent" class="btn btn-default" href="#">{{ "admin_create.precedent"|trans({}, "admin_create") }} </a>



 	<script type="text/javascript">


   $("#form_Suivant").bind('click', function(){

     ChangeEstate('stepThree','labelThree',2,'next');

      			$('#CreateFormStep').fadeOut('slow', function(){ //on fait disparaitre l ancien contenu
													var idPersonnel = $('#form_nom').val();

 													$( "#CreateFormStep" ).load("/admin/createS3/"+idPersonnel ,
 																							//on charge le nouveau
 																				 function(){
 																										 $('#CreateFormStep').fadeIn('slow');
 																									}); // on fait apparaitre le nouveau contenu
 											 });

 });
   $("#form_Precedent").bind('click', function(){

     ChangeEstate('stepOne','labelOne',2,'prev');

 			$('#CreateFormStep').fadeOut('slow', function(){

 													$( "#CreateFormStep" ).load("/admin/createS1",
 																				 function(){


 																										 $('#CreateFormStep').fadeIn('slow');

 																									});
 											 });

 });
 		</script>
