{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}

<div class="head">
	Administration - Modifier un compte utilisateur
</div>

<div class="container">
  <div id="actions">

<h2> Informations générales </h2>

			{{ form_start(form, {'attr': {'id': 'editAccount'} } ) }}


				<div style="max-width: 100%; margin: auto;">

					<div class="row">
							  <div class="form-group" style="padding-top: 50px">
										<label class="control-label label col-sm-3 col-xs-12" for="salon"> {{ form_label(form.email) }}</label>
												 <div class="col-sm-9">
			 									 				{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
												</div>
							  </div>
							  <div class="form-group" style="padding-top: 50px">
										<label class="control-label label col-sm-3 col-xs-12" for="salon"> {{ form_label(form.username) }}</label>
												 <div class="col-sm-9">
			 									 				{{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
												</div>
							  </div>

							  <div class="form-group" style="padding-top: 50px">
										<label class="control-label label col-sm-3 col-xs-12" for="salon"> {{ form_label(form.roles) }}</label>
												 <div class="col-sm-9">
			 									 				{{ form_widget(form.roles, { 'attr': {'class': 'form-control'} }) }}
												</div>
							  </div>
							  <div class="form-group" style="padding-top: 50px">
										<label class="control-label label col-sm-3 col-xs-12" for="salon"> {{ form_label(form.enabled) }}</label>
												 <div class="col-sm-9">
			 									 				{{ form_widget(form.enabled, { 'attr': {'class': 'form-control'} }) }}
												</div>
							  </div>
					</div>
				</div>

     {{ form_end(form) }}
		 <h2> Sécurité </h2>
		 <a id="chgPwd" data-toggle="modal" data-target="#myModal" href="{{ path('changePassword',{'idUser': idUser}) }}">Changer le Mot de passe</a>
		 <br/>
		 <br/>
		 <br/>
		 <br/>
		 <div class="col-sm-12" style=" max-width:1200px;margin:auto;float:none;">
				 <div class="col-sm-6 block">
						 <button class="btn-black" onclick="window.location.href = '{{ path("adminHome") }}'" style="float:none;">Précédent</button>
				 </div>

		 </div>
   </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{ "login.close"|trans({}, "login") }}</button>
				</div>
		</div>

	</div>
</div>


 {% endblock %}
