{% extends './base.html.twig' %}
{% block title %}Administration{% endblock %}

{% block body %}
{% trans_default_domain "admin_home" %}

	<div class="header admin">
	</div>
	<div class="head">
		{{ "admin_home.header"|trans({}, "admin_home") }}
	</div>
	<div class="container">
		<div class="row">
			{% for flash_message in app.session.flashBag.get('success') %}
			<div class="alert alert-success success">
				{{ flash_message }}
				<span class="closeAlert glyphicon glyphicon-remove"></span>
			</div>
			{% endfor %}
		<div id="actions" class="home menuAction">
			<div class="col-sm-12" >
				<div class="col-sm-6 block">
					<div class="under-block" onclick="window.location.href ='{{ path("createType") }}'"><p class="carre">{{ "admin_home.create"|trans({}, "admin_home") }}</p></div>
				</div>
				<div class="col-sm-6 block">
					<div class="under-block" onclick="window.location.href ='{{ path("listeAccount") }}'"><p class="carre">{{ "admin_home.gestion"|trans({}, "admin_home") }}</p></div>
				</div>
			</div>
		 </div>
		</div>

	</div>



</div>
<script language="javascript">
$('.closeAlert').bind('click', function(){
			$(".alert").css('display','none');
			$(".alert").remove();

});

</script>
{% endblock %}
