{% extends './base.html.twig' %}
{% block title %}Administration{% endblock %}

{% block body %}
{% trans_default_domain "admin_home" %}

	<div class="header admin">
	</div>
	<div class="head">
		{{ "admin_home.header"|trans({}, "admin_home") }}
	</div>
	<div class="container">
		<div class="row">
		<div id="actions" class="home menuAction">
			<div class="col-sm-12" >
				<div class="col-sm-6 block">
					<div class="under-block" onclick="window.location.href ='{{ path("createType") }}'"><p class="carre">{{ "admin_home.create"|trans({}, "admin_home") }}</p></div>
				</div>
				<div class="col-sm-6 block">
					<div class="under-block" onclick="window.location.href ='{{ path("listeAccount") }}'"><p class="carre">{{ "admin_home.gestion"|trans({}, "admin_home") }}</p></div>
				</div>
			</div>

			<div class="col-sm-12" >
				<div class="col-sm-6 block">
					<div class="under-block" onclick="window.location.href ='{{ path("importHome") }}'"><p class="carre">{{ "admin_home.import"|trans({}, "admin_home") }}</p></div>
				</div>
				<div class="col-sm-6 block">
					<div class="under-block"><p class="carre"></p></div>
				</div>
			</div>

		 </div>
		</div>

	</div>
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-body">
						<div class="flashConfirmation">
							{{ flash }}
							<span class="glyphicon glyphicon-ok-sign"></span>
						</div>
					</div>
					<span class="closeAlert glyphicon glyphicon-remove" data-dismiss="modal"></span>
			</div>
		</div>
	</div>
</div>
<script language="javascript">

		$('.closeAlert').bind('click', function(){
					$(".alert").css('display','none');
					$(".alert").remove();

		});

		{% if flash %}
			 $("#myModal").modal()
		{% endif %}

</script>
{% endblock %}
