{% extends './base.html.twig' %}
{% block title %}Administration - Import{% endblock %}

{% block body %}
{% trans_default_domain "admin_home" %}

	<div class="header admin">
	</div>

	<div class="head">
		{{ "import.header"|trans({}, "import") }}
	</div>

	<div class="container">

	 <div class="row">
	 <div id="actions" class="home menuAction">

			{{form_start(form, {'attr' : {'class' : 'allForm form-horizontal' } })}}
				<div class="form-group">
					<label style="width: 215px;"  class="control-label label col-sm-4 col-xs-12">{{ "import.salon" | trans({}, "import") }}</label>
					<div class="col-sm-6">
						<label for="form_salon" class="label-file">
							<i class="glyphicon glyphicon-download-alt"></i>
							<span>Choisir un fichier</span>
						</label>
						{{ form_widget(form.salon, { 'attr': {'class': 'input-file'} }) }}
					</div>
				</div>

				<div class="form-group">
					<label style="width: 215px;" class="control-label label col-sm-4 col-xs-12">{{ "import.personnel" | trans({}, "import") }}</label>
			    <div class="col-sm-6">
						<label for="form_personnel" class="label-file">
							<i class="glyphicon glyphicon-download-alt"></i>
							<span>Choisir un fichier</span>
						</label>
			      {{ form_widget(form.personnel, { 'attr': {'class': 'input-file'} }) }}

					</div>
				</div>

				<div class="form-group">
					<label style="width: 215px;"  class="control-label label col-sm-4 col-xs-12">{{ "import.lien" | trans({}, "import") }}</label>
			    <div class="col-sm-6">
						<label for="form_lien" class="label-file">
							<i class="glyphicon glyphicon-download-alt"></i>
							<span>Choisir un fichier</span>
						</label>
			      {{ form_widget(form.lien, { 'attr': {'class': 'input-file'} }) }}
			    </div>
	 			</div>

				<div id="actionsButtons">
					{{form_end(form)}}
					<a id="form_Precedent" class="btn-black precedent" href="{{ path('adminHome') }}">{{ "admin_create.precedent"|trans({}, "admin_create") }} </a>
				</div>

		</div>
	</div>
	</div>


<!-- .......................... POP-UP ................................-->

{% if success or erreur %}
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="color:black;" class="modal-title">
					{% if erreur %} {{ "import.erreur"|trans({}, "import") }} {% endif %}
					{% if success %} {{ "import.success"|trans({}, "import") }} {% endif %}
				</h4>
      </div>

      <div class="modal-body">

        <div id="infoEmbauche" class="" >
          <p style="white-space: pre-wrap;color:black;"></br>{{ success }} {{ erreur }} </br></p>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "import.ok"|trans({}, "import") }}</button>
      </div>
    </div>

  </div>
</div>{% endif %}

<script src="{{ asset('js/custom-file-input.js') }}"></script>
<script type="text/javascript">

  $('#topNav').css('display','none');
  $('#myModal').modal('show');

</script>
<script language="javascript">
		$('#topNav').css('display', 'initial');
</script>
{% endblock %}
