{% extends 'base.html.twig' %}
{% form_theme form 'form/error.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
{% trans_default_domain "translator" %}

<div class="header">
	<img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>

<div class="head">
	{{ "demande_attestation_salaire.titre"|trans({}, "translator") }}
</div>
<div class="nomSalon">
  {{ app.session.get('nomSalon') }}
</div>
<div class="container">
	<div id="wrapperForm" class="row">
		{{ form_start(form, {'attr': {'class': 'allForm demande_attestation_salaire', 'id':'AttestationSalaire'} }) }}

				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="personnel"> {{ form_label(form.matricule) }}</label>
					<div class="col-sm-4  col-xs-12">
						{{ form_widget(form.matricule) }}
					</div>
				</div>
				<div id='GroupEtat' class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="reprise">{{ form_label(form.etat) }}</label>
					<div class="col-sm-8  col-xs-12">
						{{ form_widget(form.etat) }}
					</div>
				</div>
				<div id='GroupMotif' class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="typeMotif">{{ form_label(form.motif) }}</label>
					<div class="col-sm-8  col-xs-12 ">
						{{ form_widget(form.motif) }}
					</div>
				</div>

				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="dateDernierJour">{{ "demande_attestation_salaire.dateDernierJour"|trans({}, "translator") }}</label>
					<div class="col-sm-3  col-xs-12">
						{{ form_widget(form.dateDernierJour) }}
					</div>
				</div>

				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="dateSortie">{{ "demande_attestation_salaire.dateReprise"|trans({}, "translator") }}</label>
					<div class="col-sm-3  col-xs-12">
						{{ form_widget(form.dateReprise) }}
					</div>
				</div>



		<div id="actionsButtons">
			{{ form_end(form) }}
						<a href="{{ path('home_paie') }}" class="btn-black precedent">
								{{ "global.back"|trans({}, "translator") }}
						</a>
		</div>
	</div>

</div>

<script src="{{ asset('js/custom-file-input.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.maskMoney.min.js') }}"></script>


<script type="text/javascript">
  	$('#myModal').modal('show');
		$("#myModal").css('display','flex');

		$("#demande_attestation_salaire_montant").maskMoney({
			thousands:',',
			decimal:'.',
			allowZero: true,
			suffix: ''
		});

		$( "#formAccompte" ).validate( {
	 	rules: {
	 		'demande_attestation_salaire[montant]': {
	 			required: true,
	 			min: '1.00',
	 		}
	 	},
	 	messages: {
	 		'demande_attestation_salaire[montant]': {
	 			required: "{{ "message_validation.acompte_montant_required"|trans({}, "translator") }}",
	 			min: "{{ "message_validation.acompte_montant_minlength"|trans({}, "translator") }}",
	 			max: "{{ "message_validation.acompte_montant_maxlength"|trans({}, "translator") }}"
	 		}
	 	},
	 	errorElement: "em",
	 	errorPlacement: function ( error, element ) {
	 		// Add the `help-block` class to the error element
	 		error.addClass( "help-block" );

	 		// Add `has-feedback` class to the parent div.form-group
	 		// in order to add icons to inputs
	 		element.parents( ".col-sm-5" ).addClass( "has-feedback" );

	 		if ( element.prop( "type" ) === "checkbox" ) {
	 			error.insertAfter( element.parent( "label" ) );
	 		} else {
	 			error.insertAfter( element );
	 		}

	 		// Add the span element, if doesn't exists, and apply the icon classes to it.
	 		if ( !element.next( "span" )[ 0 ] ) {
	 			$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
	 		}
	 	},
	 	success: function ( label, element ) {
	 		// Add the span element, if doesn't exists, and apply the icon classes to it.
	 		if ( !$( element ).next( "span" )[ 0 ] ) {
	 			$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
	 		}
	 	},
	 	highlight: function ( element, errorClass, validClass ) {
	 		$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
	 		$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
	 	},
	 	unhighlight: function ( element, errorClass, validClass ) {
	 		$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
	 		$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
	 	}
	 } );

</script>

{% endblock %}
