{% extends 'base.html.twig' %}
{% form_theme form 'form/error.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
{% trans_default_domain "translator" %}

<div class="header">
	<img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>
<div class="head">
{{ "___demande_rib.titre"|trans({}, "translator") }}
</div>
<div class="nomSalon">
  {{ app.session.get('nomSalon') }}
</div>
<div class="container">
	<div id="actions" class="formAction">

		{{ form_start(form, {'attr': {'class': 'allForm form-horizontal demande_rib', 'id':'DemandeRib'} }) }}

		    {{ form_errors(form)}}
				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="personnel"> {{ form_label(form.matricule) }}</label>
					<div class="col-sm-6  col-xs-12">
						{{ form_widget(form.matricule, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>

				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="rib">{{ form_label(form.rib) }}</label>
					<div class="col-sm-4  col-xs-12">
						<label for="demande_rib_rib" class="label-file">
							<i class="glyphicon glyphicon-download-alt"></i>
							<span>{{ "global.choiceFile"|trans({}, "translator") }}</span>
						</label>
						{{ form_widget(form.rib, { 'attr': {'class': 'input-file'} }) }}

					</div>
				</div>
			<div id="actionsButtons">
				{{ form_end(form) }}
						<a href="{{ path('homepage') }}" class="btn-black precedent">
								{{ "global.back"|trans({}, "translator") }}
						</a>
		  </div>
		</div>
	</div>
	<!-- .......................... POP-UP ................................-->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 style="color:black;" class="modal-title">{{ "___demande_rib.rappel"|trans({}, "translator") }}</h4>
	      </div>

	      <div class="modal-body">
					{{ "___demande_rib.info"|trans({}, "translator") }}
	      </div>

	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "global.poursuivre"|trans({}, "translator") }}</button>
	      </div>
	    </div>

	  </div>
	</div>
	<script src="{{ asset('js/custom-file-input.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>

	<script type="text/javascript">
	  	$('#myModal').modal('show');
			$("#myModal").css('display','flex');

			$( "#DemandeRib" ).validate( {
			rules: {

			},
			messages: {
				'demande_rib[rib]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",

			},
			errorElement: "em",
			errorPlacement: function ( error, element ) {
				// Add the `help-block` class to the error element
				error.addClass( "help-block" );

				// Add `has-feedback` class to the parent div.form-group
				// in order to add icons to inputs
				element.parents( ".col-sm-5" ).addClass( "has-feedback" );

				if ( element.prop( "type" ) === "checkbox" ) {
					error.insertAfter( element.parent( "label" ) );
				} else {
					error.insertAfter( element );
				}

				// Add the span element, if doesn't exists, and apply the icon classes to it.
				if ( !element.next( "span" )[ 0 ] ) {
					$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
				}
			},
			success: function ( label, element ) {
				// Add the span element, if doesn't exists, and apply the icon classes to it.
				if ( !$( element ).next( "span" )[ 0 ] ) {
					$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
				}
			},
			highlight: function ( element, errorClass, validClass ) {
				$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
				$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
			},
			unhighlight: function ( element, errorClass, validClass ) {
				$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
				$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
			}
			} );

	</script>
{% endblock %}
