{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
{% trans_default_domain "translator" %}
<div class="header">
  <img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>
<div class="head" >
  {{ "___demande_embauche.header"|trans({}, "translator") }}
</div>
<div class="nomSalon">
  {{ app.session.get('nomSalon') }}
</div>
<div class="container">

<div id="wrapperForm" class="row">
  {{ form_start(form, { 'attr' : { 'class': 'allForm form-horizontal embaucheForm', 'id': 'form1' } })}}

  <div class="form-group">

    <label class="control-label label col-sm-3 col-xs-12">{{ "___demande_embauche.nom"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12">
      {{ form_widget(form.nom) }}
    </div>

    <label class="control-label label col-sm-3 col-xs-12" >{{ "___demande_embauche.prenom"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12">
      {{ form_widget(form.prenom) }}
    </div>
  </div>

  <div class="form-group">
    <label class="control-label label col-sm-3 col-xs-12" for="demande_embauche_dateNaissance">{{ "___demande_embauche.daten"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12">
      {{ form_widget(form.dateNaissance, {'attr':{'name':'date','class':'styleDate'}}) }}
    </div>

    <label class="control-label label col-sm-3 col-xs-12" for="Nationalité">{{ "___demande_embauche.sexe"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12 append radioInput" style="display: inline-flex">
      {{ form_widget(form.sexe) }}
    </div>

  </div>

  <div class="form-group">
    <label class="control-label label col-sm-3 col-xs-12" for="adr">{{ "___demande_embauche.adr1"|trans({}, "translator") }}</label>
    <div class="col-sm-9 col-xs-12">
      {{ form_widget(form.adresse1) }}
    </div>
  </div>

  <div class="form-group">
    <label class="control-label label col-sm-3 col-xs-12" for="adr">{{ "___demande_embauche.adr2"|trans({}, "translator") }}</label>
    <div class="col-sm-9 col-xs-12">
      {{ form_widget(form.adresse2) }}
    </div>
  </div>

  <div class="form-group" >
    <label class="control-label label col-sm-3 col-xs-12">{{ "___demande_embauche.cp"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12">
      {{ form_widget(form.codePostal)}}

    </div>

    <label class="control-label label col-sm-3 col-xs-12">{{ "___demande_embauche.ville"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12">
      {{ form_widget(form.ville) }}
    </div>
  </div>

  <div class="form-group" >
    <label class="control-label label col-sm-3 col-xs-12" for="tel">{{ "___demande_embauche.tel"|trans({}, "translator") }}</label>
    <div class="col-sm-9 col-xs-12">
      {{ form_widget(form.telephone) }}
    </div>

  </div>

  <div class="form-group">
    <label class="control-label label col-sm-3 col-xs-12" for="Nationalité">{{ "___demande_embauche.nat"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12 append radioInput" style="display: inline-flex">
      {{ form_widget(form.nationalite) }}
    </div>
  </div>

  <div class="form-group">
    <label class="control-label label col-sm-3 col-xs-12">{{ "___demande_embauche.ss"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12">
      {{ form_widget(form.numSecu) }}
    </div>

    <label class="control-label label col-sm-3 col-xs-12">{{ "___demande_embauche.email"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12">
      {{ form_widget(form.email) }}
    </div>
  </div>

  <div class="form-group">

    <label class="control-label label col-sm-3 col-xs-12"  for="fam">{{ "___demande_embauche.fam"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12">
      {{ form_widget(form.situationFamille) }}
    </div>

    <label class="control-label label col-sm-3 col-xs-12" for="enf">{{ "___demande_embauche.nbenf"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12">
      {{ form_widget(form.nbEnfant) }}
    </div>
  </div>

  <div class="form-group">

    <label class="control-label label col-sm-3 col-xs-12" for="Nationalité">{{ "___demande_embauche.villen"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12" >
      {{ form_widget(form.villeNaissance) }}
    </div>

    <label class="control-label label col-sm-3 col-xs-12" for="Nationalité">{{ "___demande_embauche.paysNaissance"|trans({}, "translator") }}</label>
    <div class="col-sm-3 col-xs-12" >
      {{ form_widget(form.paysNaissance) }}
    </div>

  </div>


    <div id="actionsButtons">
        {{ form_end(form) }}
      <a onclick='clearSession();' href="{{ path('home_juridique_rh') }}" class="btn-black precedent">
          {{ "global.back"|trans({}, "translator") }}
      </a>
    </div>
</div>

<!-- .......................... POP-UP ................................-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="color:black;" class="modal-title">{{ "___demande_embauche.attention"|trans({}, "translator") }}</h4>
      </div>

      <div class="modal-body">

        <div id="infoEmbauche" class="" >
          <p style="color:black;">{{ "___demande_embauche.msg"|trans({}, "translator") }}  </br></p>

          <ul>
            <li>{{ "___demande_embauche.pi"|trans({}, "translator") }}</li>
            <li>{{ "___demande_embauche.diplome"|trans({}, "translator") }}</li>
            <li>{{ "___demande_embauche.cartev"|trans({}, "translator") }}</li>
            <li>{{ "___demande_embauche.rib"|trans({}, "translator") }}</li>
            <li>{{ "___demande_embauche.adhesion"|trans({}, "translator") }}</li>
          </ul>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "global.poursuivre"|trans({}, "translator") }}</button>
        <button type="button" style="float:left;" class="btn btn-default out"  onclick="window.location.href = '{{ path("homepage") }}'">{{ "global.retourac"|trans({}, "translator") }}</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/additional-methods.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/global/global-method.js') }}"></script>

<script type="text/javascript">

$( "#form1" ).validate( {
  rules: {
    'demande_embauche[dateNaissance][month]' : {
      validateDate: true,
    },'demande_embauche[numSecu]':{
      minlength: 5
    },'demande_embauche[email]':{
      required: true,
      email: true
    }
  },
  messages: {
    'demande_embauche[nom]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[prenom]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[sexe]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[adresse1]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[codePostal]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[ville]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[telephone]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[nationalite]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[autre_nationalite]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[numSecu]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
	 	'demande_embauche[email]': {
	 			required: "{{ "message_validation.enabled_required"|trans({}, "translator") }}",
	 			email: "{{ "message_validation.email_valid"|trans({}, "translator") }}"
      },
    'demande_embauche[nbEnfant]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[nom]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[villeNaissance]': "{{ "message_validation.enabled_required"|trans({}, "translator") }}",
    'demande_embauche[paysNaissance]': "{{ "message_validation.enabled_required"|trans({}, "translator") }}"
	},
	errorElement: "em",
  errorPlacement: function ( error, element ) {
		// Add the `help-block` class to the error element
		error.addClass( "help-block" );

		// Add `has-feedback` class to the parent div.form-group
		// in order to add icons to inputs
		element.parents( ".col-sm-5" ).addClass( "has-feedback" );



    if ( element.prop( "type" ) === "checkbox" ) {
      error.insertAfter( element.parent( "label" ) );
    } else if( element.prop( "type" ) === "select-one" || element.prop( "type" ) === "radio") {
      error.appendTo( element.parent());
    } else {
      error.insertAfter( element );
    }

		// Add the span element, if doesn't exists, and apply the icon classes to it.
		if ( !element.next( "span" )[ 0 ] ) {
			$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
		}
	},
	success: function ( label, element ) {
		// Add the span element, if doesn't exists, and apply the icon classes to it.
		if ( !$( element ).next( "span" )[ 0 ] ) {
			$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
		}
	},
	highlight: function ( element, errorClass, validClass ) {
		$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
		$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
	},
	unhighlight: function ( element, errorClass, validClass ) {
		$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
		$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
	}
});


  $('#demande_embauche_dateNaissance').focusout(function(){
      $('#demande_embauche_dateNaissance_month').valid();
  })

  $('.out').click(function(){
    clearSession();
  });

  function clearSession()
  {
    $.ajax({
      url : "{{path('clearSession')}}",
      type: 'GET'
    });
  }

  $('#topNav').css('display','none');

  {% if isSubmitted == false %}
    $('#myModal').modal('show');
    $("#myModal").css('display','flex');
  {% endif %}

</script>

<script>

$addListener = function($form, $name, $champ, $nb, idInt) {

  var addFieldAjax = function() {
    var isChecked = $('#demande_embauche_' + $champ + '_' + $nb).prop('checked');

    if ( (isChecked && $('#at' + idInt).length == 0)  ){
      var $form2 = $(this).closest('form');
      // Simulate form data, but only include the selected sport value.
      var data = {};
      data["demande_embauche[" + $name + "]" ] = $name;
      console.log(data);


      // Submit data via AJAX to the form's action path.
      $.ajax({
        url : "{{path('rh_embauche')}}",
        type: $form2.attr('method'),
        data : data,
        success: function(html) {
          //console.log(html);
          // Replace current position field ...
          var label = $(html).find('label[for="demande_embauche_autre_'+$name+'"]').text();
          var input = $(html).find('#demande_embauche_autre_' + $name);
          var elem = '<div id="at' + idInt +'"><label for="demande_embauche_autre_' + $name + '" class="control-label label col-sm-3 col-xs-12 required">' + label + '</label><div id="autre' + idInt +'" class="other col-sm-3"></div></div>';

          $form.parent().parent().append(elem);
          input.appendTo('#autre' + idInt);
        }
      }); // Fin ajax
    } else {
      if(!isChecked)
        $('#at' + idInt).remove();
    }
  }
  $form.change(addFieldAjax).change(); // Fin change()
}
var $situ = $('#demande_embauche_nationalite');
$addListener($situ, "nationalite", "nationalite", 1, 1);
</script>

<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}"/>
<script type="text/javascript" src="{{ asset('js/global/global-method.js') }}"></script>

<script>

uppercaseField("#demande_embauche_nom");
uppercaseField("#demande_embauche_ville");
uppercaseField("#demande_embauche_villeNaissance");
uppercaseField("#demande_embauche_paysNaissance");

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js" ></script>
<script language="javascript">
		$('#topNav').css('display', 'initial');
    $('#demande_embauche_numSecu').mask('2 99 12 99 999 999 99', {'translation': {9: {pattern: /[0-9]/}, 2:{pattern: /[0-2]/}, 1: {pattern: /[0-1]/}}});
    $('#demande_embauche_telephone').mask('99 99 99 99 99', {'translation': {9: {pattern: /[0-9]/}}});
</script>
{% endblock %}
