{% extends 'base.html.twig' %}
{% form_theme form 'form/error.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
{% trans_default_domain "translator" %}

<div class="header">
	<img style="display: block !important;margin: auto !important;" id="logotop" src="{{ img }}">
</div>
<div class="head">
{{ "___demande_promesse_embauche.titre"|trans({}, "translator") }}
</div>
<div class="nomSalon">
  {{ app.session.get('nomSalon') }}
</div>
<div class="container">
	<div id="actions" class="formAction">

		{{ form_start(form, {'attr': {'class': 'allForm form-horizontal promesse_embauche', 'id':'PromesseEmbauche'} }) }}

		    {{ form_errors(form)}}
				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="personnel"> {{ form_label(form.matricule) }}</label>
					<div class="col-sm-6  col-xs-12">
						{{ form_widget(form.matricule, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>

				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="contrat">{{ form_label(form.contrat) }}</label>
					<div class="col-sm-3  col-xs-12 radioInput">
						{{ form_widget(form.contrat, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="poste">{{ form_label(form.poste) }}</label>
					<div class="col-sm-6  col-xs-12 radioInput">
						{{ form_widget(form.poste, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div id="Classification" class="form-group s" >
					<label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ "___demande_promesse_embauche.classification"|trans({}, "translator") }}</label>
		      <div class="col-sm-3 col-xs-12" >
		        <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ form_label(form.niveau) }}</label>
		        {{ form_widget(form.niveau) }}
		      </div>
		      <div class="col-sm-3 col-xs-12" >
		        <label class="control-label label col-sm-3 col-xs-12"  for="nom">{{ form_label(form.echelon) }}</label>
		        {{ form_widget(form.echelon) }}
		      </div>
		     </div>

				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="poste">{{ form_label(form.salaire) }}</label>
					<div class="col-sm-3  col-xs-12">
						{{ form_widget(form.salaire, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="poste">{{ form_label(form.temps) }}</label>
					<div class="col-sm-3  col-xs-12">
						{{ form_widget(form.temps, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label label col-sm-4 col-xs-12" for="date">{{ form_label(form.dateEmbauche) }}</label>
					<div class="col-sm-6  col-xs-12">
						{{ form_widget(form.dateEmbauche, { 'attr': {'class':'styleDate'} }) }}
					</div>
				</div>

			<div id="actionsButtons">
				{{ form_end(form) }}
						<a href="{{ path('home_juridique_rh') }}" class="btn-black precedent">
								{{ "global.back"|trans({}, "translator") }}
						</a>
		  </div>
		</div>
	</div>
	<script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/additional-methods.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/global/global-method.js') }}"></script>

	<script type="text/javascript">
	// Validation du formulaire
	$("#PromesseEmbauche").validate({
		rules: {

	 },
	 messages: {
		 'demande_promesse_embauche[contrat]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
		 'demande_promesse_embauche[poste]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
		 'demande_promesse_embauche[salaire]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",
		 'demande_promesse_embauche[temps]':"{{ "message_validation.enabled_required"|trans({}, "translator") }}",

	 },
	 errorElement: "em",
	 errorPlacement: function ( error, element ) {
		// Add the `help-block` class to the error element
		error.addClass( "help-block" );

		// Add `has-feedback` class to the parent div.form-group
		// in order to add icons to inputs
		element.parents( ".col-sm-5" ).addClass( "has-feedback" );



		if ( element.prop( "type" ) === "checkbox" ) {
			error.insertAfter( element.parent( "label" ) );
		} else if( element.prop( "type" ) === "select-one" || element.prop( "type" ) === "radio") {
			error.appendTo( element.parent().parent());
		} else {
			error.insertAfter( element );
		}

		// Add the span element, if doesn't exists, and apply the icon classes to it.
		if ( !element.next( "span" )[ 0 ] ) {
			$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
		}
	 },
	 success: function ( label, element ) {
		// Add the span element, if doesn't exists, and apply the icon classes to it.
		if ( !$( element ).next( "span" )[ 0 ] ) {
			$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
		}
	 },
	 highlight: function ( element, errorClass, validClass ) {
		$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
		$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
	 },
	 unhighlight: function ( element, errorClass, validClass ) {
		$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
		$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
	 }
	});

	</script>
{% endblock %}
